@charset "utf-8";

@import "govuk_frontend_toolkit/stylesheets/colours";
@import "govuk_frontend_toolkit/stylesheets/conditionals";
@import "govuk_frontend_toolkit/stylesheets/css3";
@import "govuk_frontend_toolkit/stylesheets/device-pixels";
@import "govuk_frontend_toolkit/stylesheets/font_stack";
@import "govuk_frontend_toolkit/stylesheets/grid_layout";
@import "govuk_frontend_toolkit/stylesheets/helpers";
@import "govuk_frontend_toolkit/stylesheets/measurements";
@import "govuk_frontend_toolkit/stylesheets/typography";
@import "govuk_frontend_toolkit/stylesheets/url-helpers";

@import "govuk_frontend_toolkit/stylesheets/design-patterns/buttons";

@import "govuk-elements-sass/public/sass/elements/helpers";
@import "govuk-elements-sass/public/sass/elements/buttons";
@import "govuk-elements-sass/public/sass/elements/elements-typography";
@import "govuk-elements-sass/public/sass/elements/forms";
@import "govuk-elements-sass/public/sass/elements/layout";
@import "govuk-elements-sass/public/sass/elements/lists";
@import "govuk-elements-sass/public/sass/elements/panels";

@import "govuk_template/source/assets/stylesheets/styleguide/colours";
@import "govuk_template/source/assets/stylesheets/accessibility";
@import "govuk_template/source/assets/stylesheets/footer";

@import "util/printable";

@import "modules/breadcrumbs";
@import "modules/content-section";
@import "modules/full-width-form";
@import "modules/govuk-logo";
@import "modules/header";
@import "modules/hero";
@import "modules/hero-alternative-action";
@import "modules/hero-button";
@import "modules/masthead";
@import "modules/phase-banner";
@import "modules/related-items";
@import "modules/responsive-embed";
@import "modules/skip-link";
@import "modules/sub-navigation";
@import 'modules/footer-categories';
@import 'modules/task-list';
@import 'modules/verify-journey-diagram';
@import 'modules/org-logos';

html,
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  @include core-19;
}

// scss-lint:disable IdSelector
#main {
  display: block;
  margin-bottom: $gutter * 0.2;
}
// scss-lint:enable IdSelector

a:link {
  color: $link-colour;
}

a:visited {
  color: $link-visited-colour;
}

a:hover {
  color: $link-hover-colour;
}

a:active {
  color: $link-active-colour;
}

.services-link {
  clear: both;
  padding-top: 30px;
}

.lede{
  @include core-24;
}

.lede.list{
	margin-bottom: 2em;
	li{
		font-size: 1em;
	}
}

ul {
  margin: 0;
  padding: 0;
}

.footer-links {
  font-size: 0.85em;
  line-height: 1.5em;
}

.lead-in { margin-bottom: 0; }

.lead-in-bold { font-weight: bold; }

.image-border { border: 1px solid $border-colour }

// classes for custom spacing

.space-mt-30 { margin-top: 30px; }
.space-pb-10 { padding-bottom: 10px; }
