@charset "utf-8";

$govuk-assets-path: "/assets/govuk/assets/";

@import "govuk/all";

@import "modules/borders";
@import "modules/breadcrumbs";
@import "modules/header";
@import "modules/hero";
@import "modules/hero-alternative-action";
@import "modules/image";
@import "modules/inverted-button";
@import "modules/masthead";
@import "modules/navigation";
@import "modules/related-items";
@import "modules/responsive-embed";
@import "modules/sub-navigation";

// scss-lint:disable IdSelector
#main-content {
  display: block;
  margin-bottom: govuk-spacing(9);
}

// scss-lint:enable IdSelector

.content-section {
  margin-top: 30px;
}

.content-section--with-top-border {
  padding-top: 45px;
  border-top: 1px #dee0e2 solid;
}

.hero__title {
  font-family: Arial, Helvetica, sans-serif;
}

.hero__description {
  font-family: Arial, Helvetica, sans-serif;
}

.govuk-heading-l {
  font-family: Arial, Helvetica, sans-serif;
}

.govuk-heading-m {
  font-family: Arial, Helvetica, sans-serif;
}

.govuk-body {
  font-family: Arial, Helvetica, sans-serif;
}

.govuk-list {
  font-family: Arial, Helvetica, sans-serif;
}

.govuk-button {
  font-family: Arial, Helvetica, sans-serif;
}

.govuk-footer {
  font-family: Arial, Helvetica, sans-serif;
}

table, th, td {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 1px solid #dee0e2;
  vertical-align: top;
  padding: 15px;
}