apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: formbuilder-product-page
spec:
  tls:
    - hosts:
      - formbuilder-product-page.apps.live-1.cloud-platform.service.justice.gov.uk
    - hosts:
      - moj-online.service.justice.gov.uk
      secretName: moj-online-product-page-prod-secret
    - hosts:
      - moj-forms.service.justice.gov.uk
  rules:
  - host: formbuilder-product-page.apps.live-1.cloud-platform.service.justice.gov.uk
    http:
      paths:
      - path: /
        backend:
          serviceName: formbuilder-product-page
          servicePort: 4567
  - host: moj-online.service.justice.gov.uk
    # Previous product name URL - traffic still directed from this address
    # Look at redirecting at the domain level in future
    http:
      paths:
      - path: /
        backend:
          serviceName: formbuilder-product-page
          servicePort: 4567
  - host: moj-forms.service.justice.gov.uk
    # New Product name URL
    http:
      paths:
      - path: /
        backend:
          serviceName: formbuilder-product-page
          servicePort: 4567