<ul class="govuk-list">
  <% links.each do |link, text| %>
    <li><a class="govuk-link" href="#<%=link%>"><%= text %><span class="govuk-visually-hidden">(same page)</span></a></li>
  <% end %>
</ul>
