  <nav class="sub-navigation">
  <% pages_by_category('user-guide').each do |page| %>
    <% if current_page.data.heading == page.data.heading %>
    <p class="sub-navigation__item  sub-navigation__item--active "><%= page.data.heading %></p>
    <% else %>
      <p class="sub-navigation__item "><%= link_to page.data.heading, page.url %></p>
    <% end %>
  <% end %>

</nav>