---
title: Accessibility
heading: Accessibility statement
menu: footer
menuindex: 3
---

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-body" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l"><%= current_page.data.heading %></h1>

        
        <!-- START CONTENT -->
        <p>This accessibility statement applies to the MoJ Forms website at moj-forms.service.justice.gov.uk. It does not apply to the MoJ Forms editor or any form built using the MoJ Forms platform.</p>
        <section class="content-section content-section--with-top-border">
          <h2 class="govuk-heading-m">Using this website</h2>
          <p>This website was built by the MoJ Forms team at the Ministry of Justice (MoJ) using a template developed by the Government Digital Service (GDS). The MoJ Forms team is responsible for the content of this site.</p>
          <p>We want as many people as possible to be able to use this site. For example, that means you should be able to:</p>
          <ul>
          <li>change colours, contrast levels and fonts</li>
          <li>zoom in up to 300% without the text spilling off the screen</li>
          <li>navigate the form using just a keyboard</li>
          <li>navigate the form using speech recognition software</li>
          <li>listen to the form using a screen reader (including recent versions of JAWS, NVDA and VoiceOver)</li>
          </ul>
          <p>We have also made the text as simple as possible to understand.</p>
          <p><a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>
          </section>
          <section class="content-section content-section--with-top-border">
          <h2 class="govuk-heading-m">How accessible this site is</h2>
          <p>We have tested this site for accessibility using a range of browsers and technologies including screen readers. It meets the <a class="govuk-link" href="https://www.w3.org/TR/WCAG22/">Web Content Accessibility Guidelines version 2.2</a> AA standard.</p>
          </section>
          <section class="content-section content-section--with-top-border">
          <h2 class="govuk-heading-m">Feedback and contact information</h2>
          <p>If you have problems using this site or need additional support, contact the MoJ Forms team at <a class="govuk-link" href="mailto:contact-moj-forms@justice.gov.uk">contact-moj-forms@justice.gov.uk</a>.</p>
          <p>We'll consider your request and get back to you in 3 working days.</p>
          </section>
          <section class="content-section content-section--with-top-border">
          <h2 class="govuk-heading-m">Reporting accessibility problems with this site</h2>
          <p>We are always looking to improve the accessibility of this site. If you find any problems or think we are not meeting accessibility requirements, contact the MoJ Forms team at <a class="govuk-link" href="mailto:contact-moj-forms@justice.gov.uk">contact-moj-forms@justice.gov.uk</a>.</p>
          </section>
          <section class="content-section content-section--with-top-border">
          <h2 class="govuk-heading-m">Enforcement procedure</h2>
          <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you're not happy with how we respond to your complaint, contact the <a class="govuk-link" href="https://www.equalityadvisoryservice.com/">Equality Advisory and Support Service (EASS)</a>.</p>
          </section>
          <section class="content-section content-section--with-top-border">
          <h2 class="govuk-heading-m">Technical information about this site's accessibility</h2>
          <p>We are committed to making this site accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
          <h3 class="govuk-heading-s">Compliance statement</h3>
          <p>This website is fully compliant with the <a class="govuk-link" href="https://www.w3.org/TR/WCAG22/">Web Content Accessibility Guidelines version 2.2</a> AA standard.</p>
          </section>
          <section class="content-section content-section--with-top-border">
          <h2 class="govuk-heading-m">What we're doing to improve accessibility</h2>
          <p>We review the content and performance of this site regularly. We address any accessibility issues we find or are highlighted to us by users.</p>
          </section>
          <section class="content-section content-section--with-top-border">
          <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
          <p>This statement was prepared on 1 December 2023. It was last reviewed and updated on 30 May 2024.</p>
          <p>The tests on the website were carried out by the Ministry of Justice. We completed accessibility checks on a representative sample of pages using keyboard testing and the WAVE automated testing tool.</p>
        </section>
        <!-- END CONTENT -->


      </div>
    </div>
  </main>
</div>
