---
title: Accessibility statement template
heading: Accessibility statement template
menu:
menuindex:
---

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-body" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l"><%= current_page.data.heading %></h1>
        <!-- START CONTENT -->
        <p>Use this template to help you complete your form's accessibility statement.</p>
        <p>The text can be copied and pasted into your form's accessibility statement page. It includes all the markdown needed to correctly format the page. All you need to do is complete the sections in square brackets with details specific to your team and form.</p>
        <p>Last updated: 4 December 2023.</p> 
        <section class="content-section content-section--with-top-border">
          <p>This accessibility statement applies to [describe your form here - for example, the general
          enquiries form for the CICA].</p>
          <h2 class="govuk-heading-m">## Using this form</h2>
          <p>This form was built using MoJ Forms, a tool developed by the Ministry of Justice (MoJ), and
          uses components from the [GOV.UK Design System](https://design-system.service.gov.uk/).</p>
          <p>[insert your team or organisation here] is responsible for the content of this online form. The
          Ministry of Justice and MoJ Forms team are responsible for its technical aspects.</p>
          <p>We want as many people as possible to be able to use this online form. For example, that
          means you should be able to:</p>
          <p>* change colours, contrast levels and fonts</br>
          * zoom in up to 300% without the text spilling off the screen</br>
          * navigate the form using just a keyboard</br>
          * navigate the form using speech recognition software</br>
          * listen to the form using a screen reader (including recent versions of JAWS, NVDA and
          VoiceOver)</p>
          <p>We have also made the text as simple as possible to understand.</p>
          <p>[AbilityNet](https://mcmw.abilitynet.org.uk/) has advice on making your device easier to use if
          you have a disability.</p>
          <h2 class="govuk-heading-m">## How accessible this form is</h2>
          <p>We have tested this form for accessibility using a range of browsers and technologies
          including screen readers. It meets the [Web Content Accessibility Guidelines version
          2.2](https://www.w3.org/TR/WCAG22/) AA standard.</p>
          <h2 class="govuk-heading-m">## Feedback and contact information</h2>
          <p>If you have problems using this form or need additional support, contact:</p>
          <p>[insert your contact details for user requests here - add other channels, such as text phones
          or Relay UK, as required]</p>
          <p>* email: [&lt;your@email.address&gt;]</br>
          * call: [your telephone number]</br>
          * [Hours - e.g. Monday to Friday, 9am to 5pm]</p>
          <p>We'll consider your request and get back to you in [add your SLA - e.g. a week or 5 working
          days].</p>
          <h2 class="govuk-heading-m">## Reporting accessibility problems with this form</h2>
          <p>We are always looking to improve the accessibility of this form. If you find any problems or
          think we are not meeting accessibility requirements, contact the MoJ Forms team at
          &lt;contact-moj-forms@justice.gov.uk&gt;.</p>
          <h2 class="govuk-heading-m">## Enforcement procedure</h2>
          <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public
          Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018
          (the 'accessibility regulations'). If you're not happy with how we respond to your complaint,
          contact the [Equality Advisory and Support Service
          (EASS)](https://www.equalityadvisoryservice.com/).</p>
          <h2 class="govuk-heading-m">## Technical information about this online form’s accessibility</h2>
          <p>We are committed to making this form accessible, in accordance with the Public Sector
          Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
          <h3 class="govuk-heading-s">### Compliance status</h3>
          <p>This website is fully compliant with the [Web Content Accessibility Guidelines version
          2.2](https://www.w3.org/TR/WCAG22/) AA standard.</p>
          <h2 class="govuk-heading-m">## What we’re doing to improve accessibility</h2>
          <p>We review the content and performance of this form regularly. In addition, the MoJ Forms
          team monitors the accessibility of the MoJ Forms platform on an ongoing basis and fixes any
          accessibility issues reported to them.</p>
          <h2 class="govuk-heading-m">## Preparation of this accessibility statement</h2>
          <p>This statement was prepared on [date when it was first published]. It was last reviewed on
          [date when it was last reviewed. Delete this sentence if you are publishing a form for the first
          time].</p>
          <p>In order to test the compliance of all forms built using the MoJ Forms tool, the Ministry of
          Justice commissioned User Vision to carry out a WCAG 2.1 AA level audit of a sample form.
          This included extensive automated and manual testing on a range of browsers and assistive
          technologies. The audit was performed on 24 July 2023. The audit highlighted a number of
          non-compliance issues which were fixed in August 2023. In addition, the MoJ Accessibility
          team performed a spot check of WCAG 2.2 criteria on 7 November 2023.</p>
        </section>
        <!-- END CONTENT -->
      </div>
    </div>
  </main>
</div>
