---
title: Accessibility
heading: Accessibility
category: user-guide
order: 5
---
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-body">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <%= partial "user_nav" %>
      </div>
      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l"><%= current_page.data.heading %></h1>
        <!-- START CONTENT -->
        <p class="govuk-body-l">How to ensure your form meets accessibility requirements and can be used by as many people as possible.</p>
        <h2 class="govuk-heading-m">Contents</h2>
        <p><a class="govuk-link" href="#responsibilities">What you are responsible for</a><br>
        <a class="govuk-link" href="#content">Ensuring your content is accessible</a><br>
        <a class="govuk-link" href="#statement">Completing the accessibility statement</a></p>
      <section class="content-section content-section--with-top-border">
        
      
      <h2 id="responsibilities" class="govuk-heading-m">What you are responsible for</h2>
        <p>Any form you publish must meet <a class="govuk-link" href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps">government accessibility regulations</a>.</p>
        <p>This means making sure it can be used by as many people as possible, including those with access needs.</p>
        <p>It must be clear and simple enough so that most people can use it and work with a range of adaptive technologies such as screen readers and magnifiers.</p>
        <p>MoJ Forms does most of the work to ensure that your form is accessible but you are responsible for:</p>
        <ul>
        <li>the <a class="govuk-link" href="#content">content of your form</a>, which includes things like headings, links and question text</li>
        <li>completing and maintaining the <a class="govuk-link" href="#statement">accessibility statement</a></li>
        </ul>
        <p>If your form fails to meet government accessibility regulations, you may be found in breach of the Equality Act 2010 and the Disability Discrimination Act 1995. This could result in an investigation, unlawful act notices and court action.</p>
        <p><a class="govuk-link" href="#top">Back to top</a></p>
      </section>
      <section class="content-section content-section--with-top-border">  
      <h2 id="content" class="govuk-heading-m">Ensuring your content is accessible</h2>
        <p>We have built MoJ Forms to produce accessible pages but the content needs to be accessible too.</p>
        <p>Following these tips will help people understand and complete your form and ensure that it meets government standards.</p>
        <p>The MoJ Digital Accessibility Team provides resources and training for anyone who wants to <a class="govuk-link" href="https://justiceuk.sharepoint.com/sites/knowthething/SitePages/Digital-Accessibility.aspx">learn more about creating accessible content and services</a>.</p>
        <h3 class="govuk-heading-s">Give pages informative, unique titles</h3>
        <p>The title helps users understand what the page is about.</p>
        <p>On single question pages, the title is used for the question or instruction.</p>
        <p>On a multi-question page or other page template, the title should describe the group of questions or subject of the page.</p>
        <h3 class="govuk-heading-s">Use headings to convey meaning and structure</h3>
        <p>MoJ Forms page templates already provide some structure using titles and questions.</p>
        <p>When you add sections of information, such as on the home page and content pages, use headings for each section. Breaking content up in this way makes it easier for users to scan and find what they are looking for.</p>
        <p>You can <a class="govuk-link" href="/building-and-editing/#markdown">format your headings using markdown</a>. This is a quick and simple way to apply styles to your content.</p>
        <p>Headings should be formatted and ordered by level. The page title is always level 1 so any headings you add should start with level 2 and be nested as necessary. GOV.UK includes more guidance on using headings properly under <a class="govuk-link" href="https://www.gov.uk/guidance/content-design/writing-for-gov-uk#default-id-b2c33806-heading-7">structuring your content</a>.</p>
        <p>Don't use headings just to make text look bigger or stand out - there are other markdown options for that, such as <a class="govuk-link" href="/building-and-editing/#markdown">bold, call to action and inset text</a>.</p>
        <h3 class="govuk-heading-s">Make link text meaningful</h3>
        <p>You can use markdown to <a class="govuk-link" href="/building-and-editing/#markdown">add links to other web pages</a>, for example to a GOV.UK guidance page or related publication.</p>
        <p>The link text should describe the content of the page you are linking to. Avoid vague terms like 'click here' and 'read more' and don't use the same words for different links on a page.</p>
        <p>Try not to use links in the middle of a form as the user may lose their progress if they leave the form.</p>
        <h3 class="govuk-heading-s">Provide clear instructions</h3>
        <p>Help users understand what they need to do and what information you are asking for with clear instructions.</p>
        <p>For example, include hint text to help users understand what information you need from a question or how it should be formatted. If you apply any optional <a class="govuk-link" href="/building-and-editing/#validation">validation criteria</a>, you should also explain these in the hint text.</p>
        <p>MoJ Forms automatically generates error messages where needed.</p>
        <h3 class="govuk-heading-s">Keep content clear and concise</h3>
        <p>Use short and direct questions and avoid complex or technical terminology.</p>
        <p>Follow the <a class="govuk-link" href="https://www.gov.uk/guidance/content-design/writing-for-gov-uk">GOV.UK guidance on writing for the web</a> and the <a class="govuk-link" href="https://www.gov.uk/service-manual/design/designing-good-questions">Service Manual guidance on designing good questions</a>.
        <p><a class="govuk-link" href="#top">Back to top</a></p>
      </section>
      <section class="content-section content-section--with-top-border">
        <section class="content-section content-section--with-top-border">
    <h2 id="statement" class="govuk-heading-m">Completing the accessibility statement</h2>
          <p>All forms are created with an accessibility page in the <a class="govuk-link" href="/building-and-editing/#footer">footer section</a> which comes pre-populated with a template accessibility statement.
          <p>There are sections in the statement that you must fill in with details specific to your team and form. These are indicated in square brackets - [like this].</p>
          <p>If you are updating an existing form, you will need to check your accessibility statement against the latest version of the template as some sections may have changed.</p>
          <p>We recommend that you review and update your statement at least once a year to ensure it remains current.</p>
          <p><a class="govuk-link" href="/pdf/Accessibility_statement_template.pdf">Accessibility statement - template</a> (PDF, 46KB)<br>
          Last updated: 4 December 2023</p>
          <p><a class="govuk-link" href="#top">Back to top</a></p>
        </section>
        <!-- END CONTENT -->
      </div>
    </div>
  </main>
</div>
