---
title: Branching and flow management
heading: Branching and flow management
category: user-guide
order: 4
---
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-body">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <%= partial "user_nav" %>
      </div>
      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l"><%= current_page.data.heading %></h1>
        <!-- START CONTENT -->
        
        <p>Use advanced features to create and manage more complex forms.</p>
        <p><a href="#branching">What is branching?</a><br>
        <a href="#add-branching">Adding branching</a><br>
        <a href="#edit-branching">Editing branching</a><br>
        <a href="#delete-branching">Deleting branching</a><br>
        <a href="#unconnected">What are unconnected pages?</a><br>
        <a href="#manage-unconnnected">Managing unconnected pages</a><br>
        <a href="#change-next-page">Changing the order of pages</a></p>

      <section class="content-section content-section--with-top-border">
        <h2 id="branching" class="govuk-heading-m">What is branching?</h2>
        <p>xxxx</p>
        <p><a href="#top">Back to top</a></p>
      </section>

      <section class="content-section content-section--with-top-border">
        <h2 id="add-branching" class="govuk-heading-m">Adding branching</h2>
        <p>xxxx</p>
        <p><a href="#top">Back to top</a></p>
      </section>

      <section class="content-section content-section--with-top-border">
        <h2 id="edit-branching" class="govuk-heading-m">Editing branching</h2>
        <p>xxxx</p>
        <p><a href="#top">Back to top</a></p>
      </section>

      <section class="content-section content-section--with-top-border">
        <h2 id="delete-branching" class="govuk-heading-m">Deleting branching</h2>
        <p>xxxx</p>
        <p><a href="#top">Back to top</a></p>
      </section>

      <section class="content-section content-section--with-top-border">
        <h2 id="unconnected" class="govuk-heading-m">What are unconnected pages?</h2>
        <p>xxxx</p>
        <p><a href="#top">Back to top</a></p>
      </section>

      <section class="content-section content-section--with-top-border">
        <h2 id="manage-unconnected" class="govuk-heading-m">Managing unconnected pages</h2>
        <p>xxxx</p>
        <p><a href="#top">Back to top</a></p>
      </section>
      
      <section class="content-section content-section--with-top-border">
        <h2 id="change-next-page" class="govuk-heading-m">Changing the order of pages</h2>
        <p>xxxx</p>
        <p><a href="#top">Back to top</a></p>
      </section>
      
        <!-- END CONTENT -->
      </div>
    </div>
  </main>
</div>