---
title: Building and editing
heading: Building and editing
category: user-guide
order: 3
---
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-body">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <%= partial "user_nav" %>
      </div>
      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l"><%= current_page.data.heading %></h1>
        <!-- START CONTENT -->
        <p>Learn how to start building your first form.</p>
        <p><a href="#form-name">Your form’s name and URL</a><br>
        <a href="#start-page">The start page</a><br>
        <a href="#required">Required pages</a><br>
        <a href="#adding-pages">Adding pages</a><br>
        <a href="#deleting-pages">Deleting pages</a><br>
        <a href="#page-type">Choosing the type of page</a><br>
        <a href="#question-formats">Choosing which question format to use</a><br>
        <a href="#file-upload">Asking users to submit a file</a><br>
        <a href="#optional">Making a question optional</a><br>
        <a href="#markdown">Formatting content with markdown</a></p>
      <section class="content-section content-section--with-top-border">
        <h2 id="form-name" class="govuk-heading-m">Your form’s name and URL</h2>
        <p>When you create a new form, you need to give it a name.</p>
        <p>This name is:</p>
        <ul>
        <li>what your form will be listed as in the MoJ Forms editor</li>
        <li>the title that will appear on your form to users</li>
        <li>used in your form’s URL - for example, a name of Apply for a dog licence will produce a form URL of <u>https://apply-for-a-dog-licence.form.service.gov.uk</u></li>
        </ul>
        <p>You can change the name of your form later in the <a href="/settings/#change-name">settings</a>.</p>
        <p><a href="#top">Back to top</a></p>
      </section>
      <section class="content-section content-section--with-top-border">
        <h2 id="start-page" class="govuk-heading-m">The start page</h2>
        <p>When you create a new form, you are given a default start page. This will be your form’s home page.</p>
        <p>All forms built using MoJ Forms must have a start page. To find out more about what should go on your start page, read the <a href="https://design-system.service.gov.uk/patterns/start-pages/">Design System guidance</a>.</p>
        <p><a href="#top">Back to top</a></p>
      </section>
      <section class="content-section content-section--with-top-border">
        <h2 id="required" class="govuk-heading-m">Required pages</h2>
        <p>For your form to successfully submit the user data it collects, it must have:</p>
        <ul>
        <li>a check answers page - this should come after any question pages</li>
        <li>a confirmation page - this should come immediately after the check answers page</li>
        </ul>
        <p><a href="#top">Back to top</a></p>
      </section>
      <section class="content-section content-section--with-top-border">
        <h2 id="adding-pages" class="govuk-heading-m">Adding pages</h2>
        <p>You can add pages to your form in 2 ways:</p>
        <ul>
        <li>at the end of your form flow, using the ‘add page’ button</li>
        <li>after any existing page in your form flow, by hovering over the page thumbnail to reveal the menu (3 dots in a circle) and selecting ‘add page here’</li>
        </ul>
        <img src="/images/add-page-options.png" alt="There are 2 ways to add a page to a form: after an existing page using the page menu and at the end of the form using the add page button." class="screenshot-image">
        <p>When you add a new page, you need to give it a name. This will be the page’s URL slug so should be in lower case with no spaces or special characters. Separate words with hyphens. For example, in the following URL, the page name is ‘your-details’: 
        <p><u>https://apply-for-a-dog-licence.form.service.gov.uk/your-details</u></p>
        <p>Some names are reserved for global pages and should not be used:</p>
        <ul>     
        <li>metrics</li>
        <li>ping</li>
        <li>health</li>
        <li>accessibility</li>
        <li>cookies</li>
        <li>privacy</li>
        <li>maintenance</li>
        <li>reserved</li>
        <li>dashboard</li>
        <li>admin</li>
        </ul>
        <p>It is not currently possible to change the name of a page once you have created it.</p>
        <p><a href="#top">Back to top</a></p>
      </section>
      <section class="content-section content-section--with-top-border">
        <h2 id="deleting-pages" class="govuk-heading-m">Deleting pages</h2>
        <p>You can delete a page from the form flow view by hovering over the page thumbnail to reveal the menu (3 dots in a circle) and selecting ‘delete page’. This cannot be undone.</p>
        <p><a href="#top">Back to top</a></p>
      </section>
      <section class="content-section content-section--with-top-border">
        <h2 id="page-type" class="govuk-heading-m">Choosing the type of page</h2>
        <p>When adding pages, you can choose from the following templates:</p>
        <ul>
        <li>Single question page - as the name suggests, this template allows one question per page. You can choose from several question types:</li>
          <ul>
          <li><b>text</b></li>
          <li><b>text area</b></li>
          <li><b>number</b></li>
          <li><b>date</b></li>
          <li><b>radio buttons</b></li>
          <li><b>checkboxes</b></li>
          <li><b>file upload</b></li>
          </ul>
        <li><b>Multiple question page</b> - this template allows you to add several question components to a single page. You can use any of the question types available on a single question page except file upload.</li>
        <li><b>Check answers page</b> - use this page to let users check the information they have provided. If your form requires users to submit any information, it will need a check answers page.</li>
        <li><b>Confirmation page</b> - use this page after a check answers page to let users know they have completed their task.</li>
        <li><b>Content page</b> - use this page to provide users with information, such as advice about the application process or the task they are trying to accomplish. You can <a href="#markdown">format content using markdown</a> - a simple way of indicating things like headings, links and tables using text symbols.</li>
        </ul>
        <p><a href="#top">Back to top</a></p>
      </section>
      <section class="content-section content-section--with-top-border">
        <h2 id="question-formats" class="govuk-heading-m">Choosing which question format to use</h2>
        <p>You can use the following question types on single and multiple question pages:</p>
        <ul>
        <li><a href="https://design-system.service.gov.uk/components/text-input/">text</a></li>
        <li><a href="https://design-system.service.gov.uk/components/textarea/">text area</a></li>
        <li><a href="https://design-system.service.gov.uk/components/text-input/">number</a></li>
        <li><a href="https://design-system.service.gov.uk/components/date-input/">date</a></li>
        <li><a href="https://design-system.service.gov.uk/components/radios/">radio buttons</a></li>
        <li><a href="https://design-system.service.gov.uk/components/checkboxes/">checkboxes</a></li>
        </ul>
        <p>The <a href="https://design-system.service.gov.uk/components/file-upload/">file upload</a> question type can be used on a single question page only.</p>
        <p>We will be adding more question types as well as including options for validation and formatting in future updates.</p>
        <p><a href="#top">Back to top</a></p>
      </section>  
      <section class="content-section content-section--with-top-border">
        <h2 id="file-upload" class="govuk-heading-m">Asking users to submit a file</h2>
        <p>The file upload question type allows you to ask users to attach a file to their form. It supports the following file formats up to 7MB in size:</p>
        <ul>
        <li>portable document format (.pdf)</li>
        <li>comma-separated values (.csv)</li>
        <li>images (.jpg, .jpeg, .png)</li>
        <li>MS Excel (.xls, xlsx)</li>
        <li>MS Word (.doc, .docx)</li>
        <li>Open Office (.odt, .ods)</li>
        <li>plain text (.txt)</li>
        <li>rich text (.rtf)</li>
        </ul>
        <p>The component allows users to upload only one file per page. To collect additional files, you will need to add extra file upload pages.</p>
        <p><a href="#top">Back to top</a></p>
      </section>
      <section class="content-section content-section--with-top-border">
        <h2 id="optional" class="govuk-heading-m">Making a question optional</h2>
        <p>All questions are required by default but you can switch this setting off to make a question optional. This can be done with both single question pages and individual questions on multi-question pages.</p>
        <p>To make a question optional, first click in the question title as if you are going to edit it. This highlights the component settings menu (3 dots in a circle). Clicking on the menu will open it.</p>
        <img src="/images/required-or-optional.png" alt="The option to make a question optional is in the component settings menu." class="screenshot-image">
        <p>For now, there is only one setting, called ‘Required’. Click on this setting to open the options, where you can set it to either ‘yes’ (required) or ‘no’.</p>
        <p>MoJ Forms automatically adds ‘(optional)’ onto the end of the title of any question that isn’t required.</p>
        <p><a href="#top">Back to top</a></p>
      </section>
      <section class="content-section content-section--with-top-border">
        <h2 id="markdown" class="govuk-heading-m">Formatting content with markdown</h2>
        <p>In most cases, you won’t have to worry about formatting. The page templates include fields for headings, labels and hint text and all you have to do is add your own words.</p>
        <p>Content areas allow you to use markdown to add your own formatting. These are on every content page and can be added to some other page templates as required.</p>
        <p>Markdown is a way of adding formatting to plain text using basic symbols and patterns. With markdown, you can add headings, links, lists, tables and more. For example, to create a bulleted list, you start each item with an asterisk (*). Here is a selection of the most common markdown elements:</p>
        <table style="font-family: Arial, Helvetica, sans-serif; text-align: left; border:1px solid #dee0e2;" border="1">
<thead>
  <tr>
    <th>Formatting</th>
    <th>Markdown </th>
    <th>Example</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Headings</td>
    <td>Put 2, 3 or 4 hashtags at the beginning of your header, depending on the level of heading you need.</td>
    <td>## Level 2 heading<br>### Level 3 heading<br>#### Level 4 heading</td>
  </tr>
  <tr>
    <td>Bold</td>
    <td>Put the words you want to make bold inside double asterisks.</td>
    <td>make **these words** bold</td>
  </tr>
  <tr>
    <td>Italic</td>
    <td>Put the words you want in italics inside single asterisks.</td>
    <td>make *these words* italic</td>
  </tr>
  <tr>
    <td>Bullets</td>
    <td>Put an asterisk (or a hyphen) at the start of each item in your list and leave blank lines at the beginning and end of the list.</td>
    <td>Bulleted lists look like this: <br>* list item 1<br>* list item 2<br>* list item 3</td>
  </tr>
  <tr>
    <td>Numbering</td>
    <td>Put a number with a full stop and space at the start of each item and leave blank lines at the beginning and end of the list.</td>
    <td>Numbered lists look like this:<br>1. list item 1<br>2. list item 2<br>3. list item 3 </td>
  </tr>
  <tr>
    <td>Web links</td>
    <td>Put the link text in square brackets followed immediately by the link url in round brackets.</td>
    <td>[link to GOV.UK](https://www.gov.uk/)</td>
  </tr>
  <tr>
    <td>Email links</td>
    <td>Put ‘less than’ and ‘greater than’ signs around the email address.</td>
    <td>&lt;email@address.com&gt;</td>
  </tr>
  <tr>
    <td>Tables</td>
    <td>Use dividers (or ‘pipes’) to split your content into columns and start each row on a new line. Make sure each row has the same number of columns. Put hyphens in the second row to make the first row a header row. Leave blank lines at the beginning and end of the table.<br>(Tables do not currently display in the correct GOV.UK style.) </td>
    <td>2 columns: <br>| Header 1 | Header 2 |<br>| -------- | -------- |<br>| Cell | Cell |<br>| Cell | Cell |<br>3 columns: <br>| Header 1 | Header 2 | Header 3 |<br>| -------- | -------- | -------- |<br>| Cell | Cell | Cell |<br>| Cell | Cell | Cell |</td>
  </tr>
</tbody>
</table>
<p>For the full range of markdown options available, see this <a href="https://www.markdownguide.org">markdown guide</a>.</p>
<p><a href="#top">Back to top</a></p>
</section>

        <!-- END CONTENT -->
      </div>
    </div>
  </main>
</div>