---
title: Contacts
heading: Contacts
menu: top
menuindex: 4
---

<main class="govuk-main-wrapper govuk-body" id="main-content" role="main">
  <div class="govuk-width-container">
    <section class="content-section">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-l">Contact us</h1>
            <h2>New to MoJ Forms?</h2>
              <p><a class="govuk-link" href="https://contact-moj-forms.form.service.justice.gov.uk/">Contact MoJ Forms</a> to:</p>
              <ul>
              <li>start using MoJ Forms</li>
              <li>request a demo</li>
              <li>discuss an opportunity</li>
              <li>learn more about MoJ Forms features, capabilities or timescales</li>
              </ul>
            <h2>Support and feedback</h2>
              <p>For comments and questions about using MoJ Forms or for any technical problems:</p>
              <ul>
              <li>email: <a class="govuk-link" href="mailto:contact-moj-forms@digital.justice.gov.uk">contact-moj-forms@digital.justice.gov.uk</a></li>
              <li>Slack: <a class="govuk-link" href="https://mojdt.slack.com/messages/CE26QEL1Z/">#ask-formbuilder on mojdt.slack.com</a></li>
              </ul>
              <p>When reporting a fault or bug, make sure to include:</p>
              <ul>
              <li>what you expected to happen</li>
              <li>what actually happened</li>
              <li>what steps to take to reproduce the behaviour</li>
              <li>the browser version and operating system you are using</li>
              <li>screenshots of any relevant pages and messages</li>
              </ul>
              <p>We will respond as soon as possible. Our working hours are Monday to Friday, 9am to 5pm, excluding bank holidays.</p>
        </div>
      </div>
    </section>
  </div>
</main>

