---
title: Contacts
heading: Contacts
menu: top
menuindex: 4
---

<main class="govuk-main-wrapper govuk-body" id="main-content" role="main">
  <div class="govuk-width-container">

    <section class="content-section">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-l">Contact us</h1>
          <p class="govuk-body">Contact us if you have a question or need help: </p>
          <ul>
          <li>email: <a href="mailto:moj-forms@digital.justice.gov.uk">moj-forms@digital.justice.gov.uk</a></li>
          <li>Slack channel: <a href="https://mojdt.slack.com/messages/CE26QEL1Z/">#ask-formbuilder on mojdt.slack.com</a></li>>
          </ul>
          <p>We will respond as soon as possible within office hours, Monday to Friday.</p>
        </div>
      </div>
    </section>

  </div>
</main>

