---
title: Contact us
---

<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-width-container">

    <section class="content-section">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-l">Support and contacts</h1>
          <p class="govuk-body">You can find answers to many questions about MoJ Forms in our user guide:</p>
          <p class="govuk-body"><a href="../pdf/MoJ_Forms_user_guide.pdf">User guide</a> (PDF, 0.87MB)<br />
          Last updated: 22 July 2021</p>
          <p class="govuk-body"><strong>Additional documents:</strong></p>
          <p class="govuk-body"><a href="../pdf/MoJ_Forms_publishing_checklist.pdf">Publishing checklist</a> (PDF, 0.49MB)<br />
          Last updated: 6 July 2021</p>
          <p class="govuk-body"><a href="../pdf/Accessibility_statement_template.pdf">Accessibility statement - template</a> (PDF, 0.45MB)<br />
          Last updated: 11 May 2021</p>
          <p class="govuk-body"><a href="../pdf/Privacy_notice_-_template.pdf">Privacy notice - template</a> (PDF, 0.49MB)<br />
          Last updated: 11 May 2021</p>
        </div>
      </div>
    </section>
    <section class="content-section">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-m">Contact us</h1>
          <p class="govuk-body">Contact us if you have a question or need help. </p>
          <p class="govuk-body">Email us at <br><a href="mailto:moj-forms@digital.justice.gov.uk">moj-forms@digital.justice.gov.uk</a></p>
          <p class="govuk-body">Ask us a question on <a href="https://mojdt.slack.com/messages/CE26QEL1Z/">Slack</a>.</p>
        </div>
      </div>
    </section>

  </div>
</main>

