---
title: Contact – GOV.UK Verify
---

<nav class="breadcrumbs" aria-label="Breadcrumbs">
</nav>

<main id="content" class="content supplementary" role="main">
  <div class="container">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">
          Support
        </h1>
        <h2 class="heading-large">
          Contact the team
        </h2>
        <p>
            Email <a href="mailto:form-builder-team@digital.justice.gov.uk">form-builder-team@digital.justice.gov.uk</a> to find out more about Form Builder, or for help getting started.
        </p>
        <p>
            You can also ask us a question on our <a href="https://mojdt.slack.com/messages/CE26QEL1Z/">Slack channel</a>.
        </p>
      </div>
    </div>
  </div>
</main>
