---
title: Cookies
heading: Cookies
category: user-guide
order: 6
---
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-body">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <%= partial "user_nav" %>
      </div>
      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l"><%= current_page.data.heading %></h1>

        <!-- START CONTENT -->
        <p>This site saves small files (known as ‘cookies’) onto your device to collect information about how you browse the site. We do this to measure how you use the website so it can be updated and improved based on your needs.</p>
        <p>These cookies are not used to identify you personally.</p>
        <p>You will normally see a message on the site before we store a cookie on your computer. Essential cookies are necessary for the site to work but you can still use the site if you choose not to accept analytics cookies. </p>
        <p>Find out more about <a href="https://www.aboutcookies.org/">how to manage cookies</a></p>

        <section class="content-section content-section--with-top-border">
          <h2 id="essential-cookies" class="govuk-heading-m">Essential cookies</h2>
          <p>Essential cookies are required to make this site work. We set the following essential cookies:</p>
          <table>
            <tr>
              <th>Name</th>
              <th>Purpose</th>
              <th>Expires</th>
            </tr>
            <tr>
              <td>mojforms_cookies_policy</td>
              <td>Remembers whether you accept or reject analytics cookies on this form</td>
              <td>After 1 year</td>
            </tr>
          </table>
        </section>

        <section class="content-section content-section--with-top-border">
          <h2 id="analytics-cookies" class="govuk-heading-m">Analytics cookies</h2>
          <p>We use Google Analytics software to collect information about how you use this site. Google Analytics stores information about:</p>
          <ul>
            <li>the pages you visit</li>
            <li>how long you spend on each page</li>
            <li>how you got to the site</li>
            <li>what you click on while you are visiting the site</li>
          </ul>
          <p>We do not collect or store your personal information (for example your name or address) so this information can't be used to identify who you are.</p>
          <p>We do not allow Google to use or share our analytics data.</p>
          <p>Google Analytics sets the following cookies:</p>
          <table>
            <tr>
              <th>Name</th>
              <th>Purpose</th>
              <th>Expires</th>
            </tr>
            <tr>
              <td>_ga</td>
              <td>This helps us count how many people visit this online form</td>
              <td>2 years</td>
              <td>_gid</td>
              <td>This helps us count how many people visit this online form</td>
              <td>1 day</td>
            </tr>
          </table>
        </section>
        <p>You can <a href="https://tools.google.com/dlpage/gaoptout">opt out of Google Analytics cookies</a></p>

        <section class="content-section content-section--with-top-border">
          <h2 id="youtube-cookies" class="govuk-heading-m">Cookies from YouTube</h2>
          <p>On some parts of this site, we use YouTube to help us deliver video content. We embed videos using YouTube’s privacy enhanced mode, which sets a cookie when you visit a page with a video on it.</p>
          <p>YouTube will not store personally identifiable information.</p>
          <p><a href="https://policies.google.com/privacy">Read the YouTube Privacy Policy</a>.</p>
        </section>
        <!-- END CONTENT -->


      </div>
    </div>
  </main>
</div>
