---
title: Data protection and privacy
heading: Data protection and privacy
category: user-guide
order: 6
---
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-body">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <%= partial "user_nav" %>
      </div>
      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l"><%= current_page.data.heading %></h1>
        <!-- START CONTENT -->
        <p>How to ensure your form is compliant with data protection policies and procedures and keep your users’ data secure.</p>
        <p><a class="govuk-link" href="#responsibilities">Your data protection responsibilities</a></br>
        <a class="govuk-link" href="#registeractivity">Registering your data processing activity</a></br>
        <a class="govuk-link" href="#designingtheform">Designing and building your form</a></br>
        <a class="govuk-link" href="#privacynotice">Preparing a privacy notice</a></br>
        <a class="govuk-link" href="#formsecurity">How your forms are secured</a></br>
        <a class="govuk-link" href="#sessionduration">Session duration</a></p>
        <section class="content-section content-section--with-top-border">
        <h2 id="responsibilities" class="govuk-heading-m">Your data protection responsibilities</h2>
        <p>As you design a new form or make any substantial changes to an existing form, you will need to:</p>
        <ol>
        <li><a class="govuk-link" href="#registeractivity">register your data processing activity</a> with the appropriate data protection team</li>
        <li><a class="govuk-link" href="#designingtheform">think about how and why you are asking for personal information</a></li>
        <li><a class="govuk-link" href="#privacynotice">prepare a privacy notice</a> to include in the footer of your form</li>
        </ol>
        <p>These steps will help ensure that you comply with standards and best practice around the lawful capture and ongoing protection of any personal data that you collect with your forms. Your responsibilities include:</p>
        <ul>
        <li>ensuring that you only collect the minimum amount of personal data necessary and relevant for the purposes of the activity</li>
        <li>making it as easy as possible for users to understand why you are collecting personal data and how you will use it</li>
        <li>establishing the most appropriate lawful basis for the personal data capture</li>
        <li>the security and safe storage of the personal data captured after it has been submitted and who is authorised to view or access it</li>
        <li>ensuring that the personal data is only used for the purposes for which it is captured</li>
        <li>destroying or de-identifying the personal data once the purpose for which it has been captured expires, in line with your organisation's retention schedules</li>
        </ul>
        <p>For more information on your responsibilities, read the guide to <a class="govuk-link" href="https://intranet.justice.gov.uk/guidance/knowledge-information/protecting-information/privacy-reform/">data protection</a> on the MoJ intranet or contact your organisation's data protection team.</p>
        <p><a class="govuk-link" href="#top">Back to top</a></p>
      </section>
       <section class="content-section content-section--with-top-border">
        <h2 id="registeractivity" class="govuk-heading-m">Registering your data processing activity</h2>
        <p>If you are planning on using a form to collect personal information, you also need to consider how you will use and manage that information. Collectively, this is known as a data processing activity.</p>
        </p>All data processing activities should go through a data protection impact assessment (DPIA) screening. This will help identify and minimise any data protection risks involved and ensure that the activity is registered with the data protection team.</p>
        <p>You should do this if you are making significant changes to an existing data processing activity as well when establishing a new one.</p>
        <p>If MoJ is your data controller, you will need to contact your <a class="govuk-link" href="https://intranet.justice.gov.uk/guidance/knowledge-information/protecting-information/information-assurance-roles/">information assurance lead</a> or the data protection team (<a class="govuk-link" href="mailto:dataprotection@justice.gov.uk">dataprotection@justice.gov.uk</a>) to initiate this process.</p>
        <p>The process may vary in departments and agencies that use a different data controller. Contact your organisation’s data protection team for guidance.</p>
        <p><a class="govuk-link" href="#top">Back to top</a></p>
      </section>
      <section class="content-section content-section--with-top-border">
    <h2 id="designingtheform" class="govuk-heading-m">Designing and building your form</h2>
    <p>When designing your form, ensure that:</p>
    <ul>
    <li>you only ask for the information you need to perform your activity - for example, to perform a data protection check or contact the user in the event of a query</li>
    <li>you are clear with users why you are asking for something</li>
    <li>users can understand what you will do with their information</li>
    </ul>
    <p>To help you work out what to ask, you can carry out a <a class="govuk-link" href="https://www.uxmatters.com/mt/archives/2010/06/the-question-protocol-how-to-make-sure-every-form-field-is-necessary.php">question protocol</a>.</p>
    <p>You should also <a class="govuk-link" href="#privacynotice">prepare a privacy notice</a>.</p>
    <p>For more guidance on designing and building your form, read the <a class="govuk-link" href="https://www.gov.uk/service-manual/design/collecting-personal-information-from-users">Service Manual guidelines on collecting personal information</a>.</p>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
  </section>
  <section class="content-section content-section--with-top-border">
  <h2 id="privacynotice" class="govuk-heading-m">Preparing a privacy notice</h2>
  <p>All forms are created with a privacy page in the footer section which comes pre-populated with a template privacy notice. There are sections in the notice that you must fill in with details specific to your team and form. These are indicated in square brackets - [like this].</p>
  <p>If you are updating an existing form, you will need to check your privacy notice against the latest version of the template as some sections may have changed.</p>
  <p><a class="govuk-link" href="/pdf/Privacy_notice_-_template.pdf">Privacy notice - template</a> (PDF, 0.49MB)</br>
  Last updated: July 2021</p>
  <p>This notice is based on the MoJ template for general processing from the <a class="govuk-link" href="https://intranet.justice.gov.uk/guidance/knowledge-information/protecting-information/privacy-reform/">Transparency Toolkit</a> on the intranet. It is for any department or agency that uses MoJ as data controller.</p>
  <p>The Toolkit also includes a different privacy notice template for law enforcement processing as well as guidance notes on preparing your notice.</p>
  <p>If you work in a department or agency with a different data controller, your privacy notice will need to include different details and may need a different template. Contact your organisation’s data protection team for guidance.</p>
  <p><a class="govuk-link" href="#top">Back to top</a></p>
</section>
  <section class="content-section content-section--with-top-border">
  <h2 id="formsecurity" class="govuk-heading-m">How your forms are secured</h2>
  <p>The Digital and Technology team is responsible for the technical security of the MoJ Forms platform. We take every precaution with user data as users enter it. We encrypt all user data and do not retain any of it after the form has been submitted.</p>
  <p><a class="govuk-link" href="#top">Back to top</a></p>
</section>
<section class="content-section content-section--with-top-border">
<h2 id="sessionduration" class="govuk-heading-m">Session duration</h2>
<p>To help protect users’ privacy, if they are inactive on a form for 30 minutes the form will reset and any information they have entered up to that point will be cleared. This currently happens without warning. The timer is reset by moving to another page in the form.</p>
<p>To minimise the risk of users losing their progress, you could consider:</p>
<ul>
<li>letting users know on the start page what information they will need to hand</li>
<li>structuring your form to ask <a class="govuk-link" href="https://designnotes.blog.gov.uk/2015/07/03/one-thing-per-page/">one thing per page</a></li>
<li>allowing users to <a href="/building-and-editing/#file-upload">upload files</a> if you require a detailed answer to a question</li>
<li>limiting the length of textarea questions using the <a href="/building-and-editing/#validation">validation settings</a></li>
<li>warning users about the timeout in hint text and on the start page if you think it will be a concern</li>
</ul>
<p><a href="#top">Back to top</a></p>
</section>
        <!-- END CONTENT -->
      </div>
    </div>
  </main>
</div>
