---
title: Data protection and privacy
heading: Data protection and privacy
category: user-guide
order: 6
---
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-body">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <%= partial "user_nav" %>
      </div>
      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l"><%= current_page.data.heading %></h1>
        <!-- START CONTENT -->
        <p>How to ensure your form is compliant with MoJ data protection policies and procedures and how we keep your users’ data secure.</p>
        <p><a href="#whentocontact">When to contact the data privacy team</a></br>
        <a href="#responsibilities">Your data protection responsibilities</a></br>
        <a href="#designingtheform">Designing and building your form</a></br>
        <a href="#privacynotice">Completing the privacy notice</a></br>
        <a href="#formsecurity">How your forms are secured</a></br>
        <a href="#sessionduration">Session duration</a></p>
       <section class="content-section content-section--with-top-border">
        <h2 id="whentocontact" class="govuk-heading-m">When to contact the data privacy team</h2>
        <p>Any form that is likely to involve processing of personal data should go through a <a href="https://intranet.justice.gov.uk/guidance/knowledge-information/protecting-information/privacy-reform/data-protection-impact-assessments-dpias/">data protection impact assessment (DPIA)</a> to help identify and minimise any data protection risks involved.</p>
        <p>You will need to contact your <a href="https://intranet.justice.gov.uk/guidance/knowledge-information/protecting-information/information-assurance-roles/">information assurance lead</a> or the data privacy team (<a href="mailto:privacy@justice.gov.uk">privacy@justice.gov.uk</a>) to initiate this process. Contact them as early as possible in your planning process for:</p>
        <ul>
        <li>any new form that will collect personal information from users (e.g. names, addresses, prison numbers)</li>
        <li>a change to an existing form that involves collecting new types of information or changing how it is processed</li>
        </ul>
        <p><a href="#top">Back to top</a></p>
      </section>
      <section class="content-section content-section--with-top-border">
      <h2 id="responsibilities" class="govuk-heading-m">Your data protection responsibilities</h2>
      <p>You are responsible for the lawful capture and ongoing protection of any personal data that you collect with your forms. This includes:</p>
      <ul>
      <li>ensuring that you only collect the minimum amount of personal data necessary and relevant for the purposes of the activity</li>
      <li>making it as easy as possible for users to understand why you are collecting personal data and how you will use it</li>
      <li>establishing the most appropriate lawful basis for the personal data capture</li>
      <li>the security and safe storage of the personal data captured after it has been submitted and who is authorised to view or access it</li>
      <li>ensuring that the personal data is only used for the purposes for which it is captured</li>
      <li>destroying or de-identifying the personal data once the purpose for which it has been captured expires, and in line with MoJ retention schedules</li>
      </ul>
      <p>When you contact the data privacy team, they will help you with these points.</p>
      <p>For more information on your responsibilities, read the guide to <a href="https://intranet.justice.gov.uk/guidance/knowledge-information/protecting-information/privacy-reform/">data protection</a> on the MoJ intranet.</p>
      </p>
      <p><a href="#top">Back to top</a></p>
    </section>
    <section class="content-section content-section--with-top-border">
    <h2 id="designingtheform" class="govuk-heading-m">Designing and building your form</h2>
    <p>When designing your form, ensure that:</p>
    </ul>
    <li>you only ask for the information you need to perform your service</li>
    <li>you are clear with users why you are asking for something</li>
    <li>users can understand what you will do with their information</li>
    </ul>
    <p>To help you work out what to ask, you can carry out a <a href="https://www.uxmatters.com/mt/archives/2010/06/the-question-protocol-how-to-make-sure-every-form-field-is-necessary.php">question protocol</a>.</p>
    <p>You should also <a href="">complete the privacy notice</a> with the help of your information assurance lead or the data privacy team.</p>
    <p>Refer to the <a href="https://www.gov.uk/service-manual/design/collecting-personal-information-from-users">Service Manual guidelines on collecting personal information</a> for more guidance on designing and building your form.</p>
    <p><a href="#top">Back to top</a></p>
  </section>

  <section class="content-section content-section--with-top-border">
  <h2 id="privacynotice" class="govuk-heading-m">Completing the privacy notice</h2>
  <p>All forms are created with a privacy page in the footer section which comes pre-populated with a template privacy notice. There are sections in the notice that you must fill in with details specific to your team and form. These are indicated in square brackets - [like this].</p>
  <p>If you are updating an existing form, you will need to check your privacy notice against the latest version of the template as some sections may have changed.</p>
  <p><a href="/pdf/Privacy_notice_-_template.pdf">Privacy notice - template</a> (PDF, 0.49MB)</br>
  Last updated: July 2021</p>
  <p>We recommend you consult your information assurance lead or the data privacy team for help completing the template.</p>
  <p>If your form is for law enforcement processing, you will need a different template, available via the <a href="https://intranet.justice.gov.uk/guidance/knowledge-information/protecting-information/privacy-reform/">Transparency Toolkit</a> on the intranet. This version is not specific to the MoJ Forms platform so please contact us for help if you intend using it.</p>
  <p><a href="#top">Back to top</a></p>
</section>
  <section class="content-section content-section--with-top-border">
  <h2 id="formsecurity" class="govuk-heading-m">How your forms are secured</h2>
  <p>The Digital and Technology team is responsible for the technical security of the MoJ Forms platform. We take every precaution with user data as users enter it. We encrypt all user data and do not retain any of it after the form has been submitted.</p>
  <p><a href="#top">Back to top</a></p>
</section>
<section class="content-section content-section--with-top-border">
<h2 id="sessionduration" class="govuk-heading-m">Session duration</h2>
<p>To help protect users’ privacy, if they are inactive on a form for 30 minutes the form will reset and any information they have entered up to that point will be cleared. Users are shown a warning and countdown 5 minutes before this happens.</p>
<p><a href="#top">Back to top</a></p>
</section>








        <!-- END CONTENT -->
      </div>
    </div>
  </main>
</div>