---
title: Support Page
heading: Support
<%# menu: top
menuindex: 4 %>
---
<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-width-container">

    <section class="content-section">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-l"><%= current_page.data.heading %></h1>
          <p class="govuk-body">To find out more about MOJ Online, you can email us at <br><a class="govuk-link" href="mailto:moj-forms@digital.justice.gov.uk">moj-forms@digital.justice.gov.uk</a></p>
          <p class="govuk-body">You can also<a class="govuk-link" href="https://mojdt.slack.com/messages/CE26QEL1Z/"> ask us a question on Slack</a>.</p>
        </div>
      </div>
    </section>

  </div>
</main>
