---
title: Features
---

<nav class="breadcrumbs" aria-label="Breadcrumbs">
</nav>

<main id="content" class="content supplementary" role="main">
  <div class="container">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">
          Features
        </h1>  
        <p>Online forms usually require hiring developers and getting budget and the right people can be difficult. 
        </p> 
        <p>
        MOJ Online allows you to build accessible and secure online forms without needing to know how to code, all you need content writing skills.
        </p>           
        <p>
        With MOJ Online, you’ll get:
        </p>
        <ul>
        <li><a href="#the-formbuilding-tool">the form building tool</a></li>
        <li><a href="#direct-support">direct support</a></li>
        <li>forms which <a href="#meet-gov-standards">meet government standards</a></li>
        <li><a href="#hosting-and-secure-data">hosting and secure data</a></li>
        </ul>           
        <h2 id="the-formbuilding-tool">The formbuilding tool</h2>
         <p>The MOJ Online formbuilding tool allows you to easily collect information from users without needing to know how to code.         
         </p>
         <p>The tool allows you to build a form tailored to your needs, including adding rules so the user sees different pages depending on the answers they give, and checking a user’s eligibility before they start.
         </p>
         <p>You also have the ability to add analytics so you can track and improve the form.</a></p>
         <img src="images/product-page-screen.svg" alt="Illustration of MOJ Online form building tool" role="presentation">
        <h2 id="direct-support">Direct support</h2>
        <p>
        We understand it can be daunting to launch new public services online, that’s why we provide quick and direct support throughout the process.
        </p>
        <p>   
        We support you with:
        </p>
        <ul>
          <li>training in using the tool</li>
          <li>guidance on how to design and test your form</li>
          <li>troubleshooting and technical support</li>
        </ul>
        <h2 id="meet-gov-standards">Meet government standards</h2>
        <p>
        All forms built using the MOJ Online formbuilding tool meet legal <a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps">accessibility</a> and <a href="https://www.gov.uk/service-manual/service-standard/point-9-create-a-secure-service">security</a> requirements for government.</p>
        </p>
      <p>
      In <a href="process#build">the process of building a form</a>, we guide you through:</p>
    <ul>
      <li><a href="https://www.gov.uk/guidance/content-design/writing-for-gov-uk">writing content in plain English</a></li>
      <li>complying with the <a href="https://www.gov.uk/service-manual/service-standard">Digital Service Standard</a></li>
   </ul>
    <p>This allows you to focus on delivering better justice services.</p>
      <h2 id="hosting-and-secure-data">Hosting and secure data</h2>
      <p>Your form is hosted on form.service.justice.gov.uk.</p>
      <p>The user’s data is either sent to you in PDF or CSV format, or sent directly to your case management system using the MOJ Online API.</p>
      </div>
    </div>
  </div>
</main>
