---
title: Features
---

<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-width-container">

    <section class="content-section">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-column-full">
          <h1 class="govuk-heading-l">Features</h1>
          <p class="govuk-body">MoJ Forms is now in private beta. With it you can:
          <ul class="govuk-list govuk-list--bullet">
            <li>prototype, create, test and publish simple forms</li>
            <li>build form pages using a variety of question templates</li>
            <li>collect user data in a PDF direct to your inbox</li>
          </ul></p>
          <p class="govuk-body">If you think MoJ Forms might be a good fit for an upcoming project, <a href="/contact">we’d love to hear from you</a>.</p>
        </div>
      </div>
    </section>

    <section class="content-section">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-column-full">
          <h2 class="govuk-heading-l">What you get</h2>
          <h2 class="govuk-heading-m">The form building tool</h2>
          <p class="govuk-body">Your team will be able to use MoJ Forms to prototype, create, test and publish an unlimited number of forms or simple online services.</p>
          <h2 class="govuk-heading-m">Tried and tested designs</h2>
          <p class="govuk-body">We use GOV.UK Design System styles and patterns and test MoJ Forms with real users so you can be confident that your forms will work.</p>
          <h2 class="govuk-heading-m">An accessible and secure service</h2>
          <p class="govuk-body">All forms built using MoJ Forms are accessible and secure by default and we provide support and guidance to help you understand and meet your legal requirements.</p>
          <h2 class="govuk-heading-m">Managed hosting</h2>
          <p class="govuk-body">Your form will be hosted on the MoJ Cloud Platform. This managed service helps keep your form running and secure.</p>
          <h2 class="govuk-heading-m">Direct support</h2>
          <p class="govuk-body">We'll support you throughout the process of building, launching and maintaining your live form.</p>
        </div>
      </div>
    </section>
    <section class="content-section">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-column-full">
          <h2 class="govuk-heading-l">What we are working on</h2>
          <p class="govuk-body">We are planning a range of new features to give users greater flexibility in the forms they design.
            <table style="font-family: Arial, Helvetica, sans-serif; text-align: left; border:1px solid #dee0e2;" border="1">
              <tr>
                <th>Done</th>
                <th>In progress</th>
                <th>Coming up</th>
              </tr>
              <tr>
                <td>You can now use MoJ Forms to:
                  <ul>
                    <li>create, test and publish forms</li>
                    <li>share forms with colleagues for review and signoff</li>
                    <li>collect user data by email</li>
                  </ul>
                </td>
                <td>You will soon be able to:
                  <ul>
                    <li>guide users through more complex forms using branching and logic</li>
                    <li>add custom validation rules to questions</li>
                    <li>allow users to submit files with their forms</li>
                    <li>integrate your forms with other services using an API</li>
                    <li>monitor performance with Google Analytics</li>
                  </ul>
                </td>
                <td>We are exploring how you might be able to:
                  <ul>
                    <li>help users provide large amounts of information by dividing forms into sections</li>
                    <li>allow users to save their progress on a form and return to complete it later</li>
                    <li>collect payments with GOV.UK Pay</li>
                    <li>send updates with GOV.UK Notify</li>
                  </ul>
                </td>
              </tr>
            </table>
          </p>
          <p class="govuk-body">Find out more from our full public roadmap.</p>
        </div>
      </div>
    </section>
  </div>
</main>
