---
title: What you’ll get
---

<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-width-container">

    <section class="content-section">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">What you’ll get</h1>
          <p class="govuk-body">With MOJ Forms, you’ll get:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="#the-form-building-tool">the form building tool</a></li>
            <li><a href="#direct-support">free hosting and support</a></li>
            <li>forms that <a href="#meet-gov-standards">meet government standards</a></li>
            <li><a href="#hosting">hosting</a> and <a href="#hosting">secure data</a></li>
          </ul>
        </div>
      </div>
    </section>

    <section class="content-section content-section--with-top-border">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h2 class="govuk-heading-m" id="the-form-building-tool">The form building tool</h2>
          <p class="govuk-body">Your team can use the MOJ Forms tool to prototype, design, build and launch a service or form.</p>
        </div>
        <div class="govuk-grid-column-one-half">
          <img src="/images/product-tool.svg" alt="Illustration of MOJ Online form building tool.">
        </div>
      </div>
    </section>

    <section class="content-section content-section--with-top-border">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m" id="direct-support">Direct support</h2>
          <p class="govuk-body">We'll provide support throughout the process of launching, troubleshooting and supporting your live form.</p>
        </div>
      </div>
    </section>
    
    <section class="content-section content-section--with-top-border">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m" id="meet-gov-standards">Meet government standards</h2>
          <p class="govuk-body">All forms built using the MOJ Forms  tool meet legal <a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps">accessibility</a> and <a href="https://www.gov.uk/service-manual/service-standard/point-9-create-a-secure-service">security</a> requirements for government.</p>
        </div>
      </div>
    </section>

    <section class="content-section content-section--with-top-border">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m" id="hosting">Hosting</h2>
          <p class="govuk-body">Your form will be hosted on the MOJ Cloud Platform. This managed service helps keep your form running.</p>
        </div>
      </div>
    </section>
    
    <section class="content-section content-section--with-top-border">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m" id="secure-data">Secure data</h2>
          <p class="govuk-body">Form submissions can be sent to you by email or straight to your case management system using an API endpoint.</p>
          <p class="govuk-body">The tool complies with government data and security standards.</p>
        </div>
      </div>
    </section>

       <section class="content-section content-section--with-top-border">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h2 class="govuk-heading-m" id="private-beta">We're now in private beta</h2>
          <p class="govuk-body">MOJ Forms is being redesigned and our new self-service online form building tool is now in private beta, and we're now looking for teams that want to use it! If your service is interested in participating in our private beta, please get in touch.</p>
          <p class="govuk-body">To find out more about our currrent features and what's coming up in the future, check out our <a href="https://trello.com/b/bkbyX3fp/moj-forms-public-roadmap"> public roadmap</a>. </p>

        </div>
        <div class="govuk-grid-column-one-half">
        </div>
      </div>
    </section>
    
  </div>
</main>
