---
title: Features
heading: Features
menu: top
menuindex: 1
---

<main class="govuk-main-wrapper govuk-body" id="main-content" role="main">
  <div class="govuk-width-container">
    <section class="content-section">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-l"><%= current_page.data.heading %></h1>
          <p>MoJ Forms enables you to design, test and publish online forms without the need to write code. It’s quick and easy to use, making it ideal for prototyping, trialling different approaches to solving problems, running surveys, replacing and digitizing paper forms, supporting wider services and much more.</p>
          <p>Everything you create with MoJ Forms:</p>
          <ul>
          <li>meets GOV.UK design patterns and standards</li>
          <li>is accessible and secure</li>
          <li>is hosted and supported by the MoJ Forms team</li>
          </ul>
        </div>
      </div>
    </section>
    <section class="content-section content-section--with-top-border">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Now in private beta</h2>
        <p>MoJ Forms is now in private beta. With it you can:</p>
        <ul>
        <li>prototype, create, test and publish forms</li>
        <li>guide users through complex journeys using branching</li>
        <li>build form pages using a variety of question templates</li>
        <li>collect user data in PDF and CSV format direct to your inbox</li>
        </ul>
        <p>If you work for the UK Ministry of Justice and think MoJ Forms might be a good fit for an upcoming project, <a class="govuk-link" href="/contact">we’d love to hear from you</a>.</p>
      </div>
    </div>
  </section>
  <section class="content-section content-section--with-top-border">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m">What you get</h2>
          <h3 class="govuk-heading-s">The form building tool</h3>
          <p class="govuk-body">Your team will be able to use MoJ Forms to prototype, create, test and publish an unlimited number of forms.</p>
          <h3 class="govuk-heading-s">Tried and tested designs</h3>
          <p class="govuk-body">We use GOV.UK Design System styles and patterns and test MoJ Forms with real users so you can be confident that your forms will work.</p>
          <h3 class="govuk-heading-s">An accessible and secure service</h3>
          <p class="govuk-body">All forms built using MoJ Forms are accessible and secure by default and we provide support and guidance to help you understand and meet your legal requirements.</p>
          <h3 class="govuk-heading-s">Managed hosting</h3>
          <p class="govuk-body">Your form will be hosted on the MoJ Cloud Platform. This managed service helps keep your form running and secure.</p>
          <h3 class="govuk-heading-s">Direct support</h3>
          <p class="govuk-body">We'll support you throughout the process of building, launching and maintaining your live form.</p>
        </div>
      </div>
    </section>
    <section class="content-section content-section--with-top-border">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 id="roadmap" class="govuk-heading-m">What we are working on</h2>
          <p class="govuk-body">We are planning a range of new features to give users greater flexibility in the forms they design.
            <table style="font-family: Arial, Helvetica, sans-serif; text-align: left; border:1px solid #dee0e2;" border="1">
              <tr>
                <th>Done</th>
                <th>In progress</th>
                <th>Coming up</th>
              </tr>
              <tr>
                <td>You can now use MoJ Forms to:
                  <ul>
                    <li>create, test and publish forms using a variety of question formats</li>
                    <li>guide users through complex journeys using branching</li>
                    <li>check user answers with custom validation rules</li>
                    <li>generate reference numbers</li>
                    <li>collect user data by email in PDF and CSV formats</li>
                    <li>send users a confirmation email when they submit their answers</li>
                    <li>monitor performance with Google Analytics</li>                    
                  </ul>
                </td>
                <td>You will soon be able to:
                  <ul>
                    <li>add a phase banner to show users that your form is still being worked on</li>
                    <li>allow users to save their progress on a form and return to complete it later</li>
                    <li>collect payments with GOV.UK Pay</li>
                  </ul>
                </td>
                <td>We are exploring how you might be able to:
                  <ul>
                    <li>integrate your forms with other services using an API</li>  
                    <li>help users provide large amounts of information by dividing forms into sections</li>
                    <li>send updates with GOV.UK Notify</li>
                  </ul>
                </td>
              </tr>
            </table>
          </p>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/b/bkbyX3fp/moj-forms-public-roadmap" target="_blank">Find out more from our full public roadmap.</a></p>
        </div>
      </div>
    </section>
  </div>
</main>
