---
title: Features
heading: Features
---

<main class="govuk-main-wrapper govuk-body" id="main-content" role="main">
  <div class="govuk-width-container">
    <section class="content-section">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-l"><%= current_page.data.heading %></h1>
          <p>MoJ Forms enables you to design, test and publish online forms without the need to write code. It's quick and easy to use, making it ideal for prototyping, trialling different approaches to solving problems, running surveys, replacing and digitising paper forms, supporting wider services and much more.</p>
          <p>With MoJ Forms you can:</p>
          <ul>
          <li>prototype, create, test and publish forms</li>
          <li>build form pages using a variety of question formats</li>
          <li>design and guide your users through complex journeys with our visual flow and branching</li>
          <li>show different versions of content on a page based on a user's answers</li>
          <li>link users to GOV.UK Pay for an uninterrupted payment journey</li>
          <li>allow users to save a partially completed form and come back later</li>
          <li>collect user data in PDF and CSV format direct to your inbox</li>
          <li>link your form to a Google Analytics account to monitor performance</li>
          </ul>
          <p><a class="govuk-link" href="/contact">Contact us to get started</a> with MoJ Forms now.</p>
        </div>
      </div>
    </section>
  <section class="content-section content-section--with-top-border">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 id="what-you-get" class="govuk-heading-m">What you get</h2>
          <h3 class="govuk-heading-s">The form building tool</h3>
          <p class="govuk-body">Your team will be able to use MoJ Forms to design, test, iterate and publish an unlimited number of forms. The MoJ Forms editor provides a powerful and dynamic view of your form's flow unlike any other form builder on the market.</p>
          <h3 class="govuk-heading-s">Tried and tested designs</h3>
          <p class="govuk-body">We use the GOV.UK Design System and test extensively with real users so you can be confident that your forms will work and meet government design patterns and standards.</p>
          <h3 class="govuk-heading-s">An accessible and secure service</h3>
          <p class="govuk-body">All forms built using MoJ Forms are accessible and secure by default and we provide support and guidance to help you understand and meet your legal requirements.</p>
          <h3 class="govuk-heading-s">Managed hosting</h3>
          <p class="govuk-body">Your form will be hosted on the MoJ Cloud Platform, a common platform used by many of MoJ's most important digital services. This infrastructure is maintained to a high standard and will help ensure your forms are always available and secure.</p>
          <h3 class="govuk-heading-s">Direct support</h3>
          <p class="govuk-body">We'll support you throughout the process of building, launching and maintaining your live form.</p>
        </div>
      </div>
    </section>
    <section class="content-section content-section--with-top-border">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 id="roadmap" class="govuk-heading-m">What we are working on</h2>
          <p class="govuk-body">We are planning a range of new features to give users greater flexibility in the forms they design.
            <table style="font-family: Arial, Helvetica, sans-serif; text-align: left; border:1px solid #dee0e2;" border="1">
              <tr>
                <th>Done</th>
                <th>In progress</th>
                <th>Coming up</th>
              </tr>
              <tr>
                <td>You can now use MoJ Forms to:
                  <ul>
                    <li>create, test and publish forms using a variety of question formats</li>
                    <li>guide users through complex journeys using branching</li>
                    <li>show different versions of content on a page based on a user’s answers</li>
                    <li>check user answers with custom validation rules</li>
                    <li>generate reference numbers and take payments through GOV.UK Pay</li>
                    <li>collect user data by email in PDF and CSV formats</li>
                    <li>send users a confirmation email when they submit their answers</li>
                    <li>monitor performance with Google Analytics</li>                    
                  </ul>
                </td>
                <td>We are currently working on:
                  <ul>
                    <li>improving the accessibility of the editor</li>
                    <li>new options for receiving and managing submissions</li>
                    <li>a way to create and manage Welsh-language versions of forms</li>
                  </ul>
                </td>
                <td>We are exploring how to:
                  <ul>
                    <li>integrate forms with other services using an API</li>  
                    <li>allow multiple users to work on the same form</li>
                    <li>enable form owners to unpublish and delete forms</li>
                  </ul>
                </td>
              </tr>
            </table>
          </p>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/b/boUqNbme/moj-forms-public-roadmap-v2" target="_blank">Find out more from our full public roadmap.</a></p>
        </div>
      </div>
    </section>
  </div>
</main>
