---
title: What you’ll get
---

<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-width-container">

    <section class="content-section">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">What you’ll get</h1>
          <p class="govuk-body">With MOJ Online, you’ll get:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="#the-form-building-tool">the form building tool</a></li>
            <li><a href="#direct-support">direct support</a></li>
            <li>forms that <a href="#meet-gov-standards">meet government standards</a></li>
            <li><a href="#hosting">hosting</a> and <a href="#hosting">secure data</a></li>
          </ul>
        </div>
      </div>
    </section>

    <section class="content-section content-section--with-top-border">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h2 class="govuk-heading-m" id="the-form-building-tool">The formbuilding tool</h2>
          <p class="govuk-body">The MOJ Online form building tool allows you to easily collect information from users and can be used by any subject matter expert in your team without needing to know how to code.</p>
          <p class="govuk-body">The tool allows you to build a form tailored to your needs, for example checking eligibility or making an application.</p>
        </div>
        <div class="govuk-grid-column-one-half">
          <img src="/images/product-tool.svg" alt="Illustration of MOJ Online form building tool.">
        </div>
      </div>
    </section>

    <section class="content-section content-section--with-top-border">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m" id="direct-support">Direct support</h2>
          <p class="govuk-body">We understand it can be daunting to launch new public services online, that’s why we provide quick and direct support throughout the process.</p>
          <p class="govuk-body">We support you with:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>training in using the tool</a></li>
            <li>guidance on how to design and test your form</li>
            <li>troubleshooting and technical support</li>
          </ul>
        </div>
      </div>
    </section>
    
    <section class="content-section content-section--with-top-border">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m" id="meet-gov-standards">Meet government standards</h2>
          <p class="govuk-body">All forms built using the MOJ Online formbuilding tool meet legal <a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps">accessibility</a> and <a href="https://www.gov.uk/service-manual/service-standard/point-9-create-a-secure-service">security</a> requirements for government.</p>
          <p class="govuk-body">In <a href="/process#prototype">the process of building a form</a>, we guide teams through:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://www.gov.uk/guidance/content-design/writing-for-gov-uk">writing content in plain English</a></li>
            <li>complying with the <a href="https://www.gov.uk/service-manual/service-standard">Service Standard</a></li>
          </ul>
        </div>
      </div>
    </section>

    <section class="content-section content-section--with-top-border">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m" id="hosting">Hosting</h2>
          <p class="govuk-body">Your form is hosted on MOJ’s Cloud Platform. This managed service helps keep your form running.</p>
        </div>
      </div>
    </section>
    
    <section class="content-section content-section--with-top-border">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m" id="secure-data">Secure data</h2>
          <p class="govuk-body">The data is sent to you by email or straight to your case management system.</p>
          <p class="govuk-body">The tool complies with government data and security standards.</p>
        </div>
      </div>
    </section>

  </div>
</main>
