---
title: Features – Form Builder
---

<nav class="breadcrumbs" aria-label="Breadcrumbs">
</nav>

<main id="content" class="content supplementary" role="main">
  <div class="container">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">
          Form Builder Features
        </h1>
        <h2 class="heading-large">
        </h2>
        <p>
          Besides letting you build forms like a pro, Form Builder also has a number of other features.
        </p>
        <h3 class="heading-medium">
          Build logic into your forms
        </h3>
        <p>
          Set conditions so the user only sees pages and form inputs that logically follow on from their answers.
        </p>
        <h3 class="heading-medium">
            Multiple output types
        </h3>
        <p>
            Capture user data and send it as a completed PDF, CSV or JSON file.
        </p>
        <h3 class="heading-medium">
            Analytics and tracking
        </h3>
        <p>
            Analytics and tracking
        </p>
        <h3 class="heading-medium">
            Set form validation        </h3>
        <p>
            Set form validation to make sure users fill in forms correctly first time.
        </p>


        <h2 class="heading-large">
          What we're working on
        </h2>
        <p>
            The Form Builder team are currently working on giving users the ability to:
        </p>
        <ul class="list list-bullet">
            <li>
                attach files as part of their application
            </li>
            <li>
                save their form at any stage and complete it later
            </li>
        </ul>
        <h2 class="heading-large">
            Queries and suggestions
        </h2>
        <p>
            If you want to know more about these features, or have some needs that you think we should meet, email <a href="mailto:form-builder-team@digital.justice.gov.uk">form-builder-team@digital.justice.gov.uk</a>
        </p>
        <p>
            You can also ask us a question on our <a href="https://mojdt.slack.com/messages/CE26QEL1Z/">Slack channel</a>.
        </p>

      </div>
    </div>
  </div>
</main>
