---
title: Choosing between GOV.UK Forms and MoJ Forms
heading: Choosing between GOV.UK Forms and MoJ Forms
---

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-body" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l"><%= current_page.data.heading %></h1>

        
        <!-- START CONTENT -->
        <p class="govuk-body">MoJ Forms is not the only form-building platform available to teams at the Ministry of Justice and its agencies and public bodies. Any central government team also has access to <a class="govuk-link" href="https://www.forms.service.gov.uk/">GOV.UK Forms</a>.</p>
        <p class="govuk-body">GOV.UK Forms is a government-wide form-building service built by the Government Digital Service (GDS). It should be a team’s first choice of form-building platform. MoJ Forms should generally only be used when GOV.UK Forms is unsuitable.</p>
        <section class="content-section content-section--with-top-border">
          <h2 id="compare" class="govuk-heading-m">Compare GOV.UK Forms and MoJ Forms</h2>
          <p class="govuk-body">This is only a basic comparison of the platforms. Refer to the GOV.UK Forms website for a full and up-to-date list of that platform’s features and capabilities.</p>
          <h3 id="features" class="govuk-heading-s">Table: GOV.UK Forms and MoJ Forms features</h3>
          <table style="font-family: Arial, Helvetica, sans-serif; text-align: left; border:1px solid #dee0e2;" border="1">
    <thead>
    <thead>
        <tr>
            <th>Feature</th>
            <th>GOV.UK Forms</th>
            <th>MoJ Forms</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Platform access</th>
            <td>Any central government organisation</td>
            <td>MoJ agencies and public bodies</td>
        </tr>
        <tr>
            <th>Cost</th>
            <td>Free</td>
            <td>Free</td>
        </tr>
        <tr>
            <th>Number of forms</th>
            <td>Unlimited</td>
            <td>Unlimited</td>
        </tr>
        <tr>
            <th>Form access</th>
            <td>Multiple editors per form</td>
            <td>Single editor per form</td>
        </tr>
        <tr>
            <th>Appearance</th>
            <td>GOV.UK Design System</td>
            <td>GOV.UK Design System</td>
        </tr>
        <tr>
            <th>Accessibility</th>
            <td>WCAG compliant</td>
            <td>WCAG compliant</td>
        </tr>
        <tr>
            <th>Start page</th>
            <td>Requires separate GOV.UK start page</td>
            <td>Included</td>
        </tr>
        <tr>
            <th>Question format</th>
            <td>One question per page</td>
            <td>Flexible</td>
        </tr>
        <tr>
            <th>Form complexity</th>
            <td>Up to 2 routes</td>
            <td>Unlimited branches</td>
        </tr>
        <tr>
            <th>Submission options</th>
            <td>Email attachment, AWS S3 bucket</td>
            <td>Email body, email attachment, MS Lists</td>
        </tr>
        <tr>
            <th>GOV.UK Pay integration</th>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
        <tr>
            <th>Save progress</th>
            <td>Upcoming</td>
            <td>Yes</td>
        </tr>
        <tr>
            <th>Welsh versions</th>
            <td>Upcoming</td>
            <td>Supported</td>
        </tr>
        <tr>
            <th>Metrics</th>
            <td>Included</td>
            <td>Via Google Analytics</td>
        </tr>
    </tbody>
</table>
        </section>
        <!-- END CONTENT -->
      </div>
    </div>
  </main>
</div>
