---
title: Choosing between GOV.UK Forms and MoJ Forms
heading: Choosing between GOV.UK Forms and MoJ Forms
---

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-body" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l"><%= current_page.data.heading %></h1>

        
        <!-- START CONTENT -->
        <p class="govuk-body">MoJ Forms is not the only form-building platform available to teams at the Ministry of Justice and its agencies and public bodies. Any central government team also has access to <a class="govuk-link" href="https://www.forms.service.gov.uk/">GOV.UK Forms</a>.</p>
        <p class="govuk-body">GOV.UK Forms is a government-wide form-building service built by the Government Digital Service (GDS). It should be a team’s first choice of form-building platform. MoJ Forms should generally only be used when GOV.UK Forms is unsuitable.</p>
        <section class="content-section content-section--with-top-border">
          <h2 id="compare" class="govuk-heading-m">Compare GOV.UK Forms and MoJ Forms</h2>
          <p class="govuk-body">This is only a basic comparison of the platforms. Refer to the GOV.UK Forms website for a full and up-to-date list of that platform’s features and capabilities.</p>

          
          
          
    <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">GOV.UK Forms and MoJ Forms features</caption>
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Feature</th>
            <th scope="col" class="govuk-table__header">GOV.UK Forms</th>
            <th scope="col" class="govuk-table__header">MoJ Forms</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Platform access</th>
            <td class="govuk-table__cell">Any central government organisation</td>
            <td class="govuk-table__cell">MoJ agencies and public bodies</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Cost</th>
            <td class="govuk-table__cell">Free</td>
            <td class="govuk-table__cell">Free</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Number of forms</th>
            <td class="govuk-table__cell">Unlimited</td>
            <td class="govuk-table__cell">Unlimited</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Form access</th>
            <td class="govuk-table__cell">Multiple editors per form</td>
            <td class="govuk-table__cell">Single editor per form</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Appearance</th>
            <td class="govuk-table__cell">GOV.UK Design System</td>
            <td class="govuk-table__cell">GOV.UK Design System</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Accessibility</th>
            <td class="govuk-table__cell">WCAG compliant</td>
            <td class="govuk-table__cell">WCAG compliant</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Start page</th>
            <td class="govuk-table__cell">Requires separate GOV.UK start page</td>
            <td class="govuk-table__cell">Included</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Question format</th>
            <td class="govuk-table__cell">One question per page</td>
            <td class="govuk-table__cell">Flexible</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Form complexity</th>
            <td class="govuk-table__cell">Up to 2 routes</td>
            <td class="govuk-table__cell">Unlimited branches</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Submission options</th>
            <td class="govuk-table__cell">Email attachment, AWS S3 bucket</td>
            <td class="govuk-table__cell">Email body, email attachment, MS Lists</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">GOV.UK Pay integration</th>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">Yes</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Save progress</th>
            <td class="govuk-table__cell">Upcoming</td>
            <td class="govuk-table__cell">Yes</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Welsh versions</th>
            <td class="govuk-table__cell">Upcoming</td>
            <td class="govuk-table__cell">Supported</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Metrics</th>
            <td class="govuk-table__cell">Included</td>
            <td class="govuk-table__cell">Via Google Analytics</td>
        </tr>
    </tbody>
</table>
        </section>
        <!-- END CONTENT -->
      </div>
    </div>
  </main>
</div>
