---
title: HMCTS case study
---

<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-width-container">

    <section class="content-section">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">HM Courts & Tribunals Service case study</h2>
          <img src="/images/hmcts-case-study.png" alt="Illustration of MOJ Online form building tool." class="image govuk-!-display-block">
        </div>
      </div>
    </section>
    <section class="content-section">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">In July 2019 HMCTS were faced with a problem. They had an online service for the public to submit complaints but it was provided by a third party and did not meet government accessibility or security standards. They had also purchased a new back office system to enable staff to manage complaints. The existing public-facing service was not capable of being integrated with the new back office system.</p>
          <p class="govuk-body">HMCTS were faced with a choice of extending the contract for their public-facing service on 30 September and continuing to provide an online service that excluded users with accessibility needs and would require manual re-keying of complaints by staff into the new back office system or find an alternative that could be delivered in 4 weeks.</p>
          <p class="govuk-body">The MOJ Online team worked with the HMCTS Customer Service team and with the supplier of the back office complaints management system to understand the needs of their users as well as operational and technical requirements.</p>
          <p class="govuk-body">In 4 weeks of collaborative working a new HMCTS online complaints service was launched that:</p>
          <ul class="govuk-list govuk-list--bullet">
          <li>Meets government accessibility and security requirements;</li>
            <li>Integrates with back office system to provide and end-to-end complaints management service;</li>
            <li>Is available in Welsh - enabling HMCTS to meet their commitments to language equality for this service;</li>
            <li>Provides secure file upload facility and autocomplete function to enable users to easily select the relevant court.</li>
          </ul>
          <p class="govuk-body">Delivering at this pace meant that HMCTS did not need to renew the contract for the previous online service.</p>
          <p class="govuk-body">Before the launch of the new service the vast majority of complaints that HMCTS received came in via phone or email. After two months of operation the new online service was being used 350% more than the previous one and was being used just as much as the alternative channels.</p>
          <p class="govuk-body">Find out what <a href="/features">features</a> you’ll get with MOJ Online and <a href="/process">our process</a> for building and publishing online forms.</p>
        </div>
      </div>
    </section>
  </div>
</main>
