---
title: MOJ Online
---

<div class="masthead">
  <div class="hero hero--breaded">
    <div class="hero__content">
      <div class="hero__body">
        <h1 class="hero__title">
          Publish online forms quickly.
        </h1>
        <p class="lede">
        Build, test and publish online forms without a development team.

        </p>
        <a href="/support" role="button" class="hero-button" data-click-events data-click-category="Hero" data-click-action="Button clicked">
          Contact us
        </a>
      </div>
      <div class="hero__aside-image">
        <img src="images/moj-online-header-image.svg" alt="Illustration of MOJ Online publishing a form" role="presentation">
      </div>
    </div>
  </div>
</div>

<main id="content" class="content supplementary" role="main">
  <div class="container">
    <div class="grid-row content-section">
      <div class="column-one-half">
        <h2 class="content-section__title heading-medium">
        Cut the cost of building online forms
        </h2>
        <p>
        The MOJ Online formbuilding tool allows teams to easily collect information from users without needing to know how to code.
        </p>
        <p>We help you make services easier to use and reduce operational costs of paper processing such as manual data entry and scanning costs.        
       </p>
      </div>
      <div class="column-one-half">
        <img src="images/product-page-screen.svg" alt="Illustration of MOJ Online form building tool" role="presentation">
      </div>
    </div>

    <div class="grid-row content-section content-section--with-top-border">
        <div class="column-two-thirds">
          <h2 class="content-section__title heading-medium">
            Meet government standards
          </h2>
          <p>
            All forms built using the MOJ Online formbuilding tool meet legal <a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps">accessibility</a> and <a href="https://www.gov.uk/service-manual/service-standard/point-9-create-a-secure-service">security</a> requirements for government.</p>
          <p>
            In <a href="process#build">the process of building a form</a>, we guide teams through:</p>
          <ul>
            <li><a href="https://www.gov.uk/guidance/content-design/writing-for-gov-uk">writing content in plain English</a></li>
            <li>complying with the <a href="https://www.gov.uk/service-manual/service-standard">Digital Service Standard</a></li>
         </ul>
          <p>This allows you to focus on delivering better justice services.</p>
      </div>
    </div>

    <div class="grid-row content-section content-section--with-top-border">
        <div class="column-two-thirds">
          <h2 class="content-section__title heading-medium">
            Get direct support along the way
          </h2>
          <p>
          We understand it can be daunting to launch new public services online, that’s why we provide quick and direct support throughout the process.
          </p>
          <p>   
          We support you with:
          </p>
          <ul>
            <li>training in using the tool</li>
            <li>guidance on how to design and test your form</li>
            <li>troubleshooting and technical support</li>
          </ul>
          </p>
        </div>
      </div>

  <div class="grid-row content-section content-section--with-top-border">
    <div class="column-two-thirds">
      <h2 class="content-section__title heading-medium">
      Trusted by teams across MOJ
      </h2>
      <p>
      Services from across the MOJ are already using MOJ Online, including MoJ Policy, Criminal Injuries Compensation Authority (CICA), and HM Courts and Tribunals Service (HMCTS).
      </p>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-one-half">
      <p>We helped a team in HMCTS to build and publish an online complaints form.</p>
      <p>The form was built and published in 4 weeks, replacing a legacy service with a form which meets legal accessibility and security requirements.</p>
      <p>Read the <a href="HMCTS-case-study">HMCTS case study</a>.</p>
    </div>
    <div class="column-one-half">
      <img src="images/hmcts-case-study.png" width="100%" alt="Illustration of MOJ Online form building tool" role="presentation">
    </div>

  </div>

  </div>
</main>
