---
title: MoJ Forms
---

<div class="masthead">
  <div class="hero">
    <div class="hero__content">
      <div class="hero__body">
        <h1 class="hero__title">Publish digital forms quickly and easily</h1>
        <p class="hero__description">MoJ Forms enables you to design, test and publish online forms without the need to write code. It's quick and easy to use, making it ideal for prototyping, replacing and digitising paper forms, supporting wider services and much more.</p>
      </div>
    </div>
  </div>
</div>
<main class="govuk-main-wrapper govuk-body" id="main-content" role="main">
  <div class="govuk-width-container">
  <section class="content-section">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">MoJ Forms is no longer being developed</h2>
      <p class="govuk-body">MoJ's primary form building platform is now <a class="govuk-link" href="https://www.forms.service.gov.uk/">GOV.UK Forms</a>. Service teams should consider and rule out GOV.UK Forms before considering MoJ Forms.</p>
      <p class="govuk-body">Our plan is to retire the platform once suitable alternative arrangements have been made for the services we currently host. We plan to complete this transition by the end of 2025. MoJ Forms will be maintained and supported throughout this period.</p>
      <p class="govuk-body">If you think you may still have a use case for MoJ Forms, <a class="govuk-link" href="/contact/">contact us to discuss your requirements</a>.</p>
    </div>
  </div>
</section>
  <section class="content-section content-section--with-top-border">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="responsive-embed responsive-embed--16by9 responsive-embed--bordered bottom-gutter-2">
            <div class="responsive-embed__wrapper">
              <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/eq8rxDNkAow" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="content-section content-section--with-top-border">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h2 class="govuk-heading-m">Cut the cost of building digital forms</h2>
          <p class="govuk-body">With MoJ Forms you can:</p>
          <ul>
          <li>prototype, create, test and publish forms</li>
          <li>build form pages using a variety of question formats</li>
          <li>design and guide your users through complex journeys with our visual flow and branching</li>
          <li>show different versions of content on a page based on a user's answers</li>
          <li>link users to GOV.UK Pay for an uninterrupted payment journey</li>
          <li>allow users to save a partially completed form and come back later</li>
          <li>collect user data in PDF and CSV format direct to your inbox</li>
          <li>link your form to a Google Analytics account to monitor performance</li>
          </ul>
        </div>
        <div class="govuk-grid-column-one-half">
          <img src="/images/fast-prototyping.png" alt="Two screenshots are shown alongside each other. One shows a single question page in the MoJ Forms editor. The question reads Are you applying for yourself or on behalf of someone else? and 2 radio buttons present the options of myself and someone else. The second screenshot shows the same page in the final form without any edit options or menus." width="100%" height="100%" >
        </div>
      </div>
    </section>
    <section class="content-section content-section--with-top-border">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m">A service you can trust</h2>
          <p class="govuk-body">MoJ Forms can save you months in design, development and testing time. All the page templates and components available to you have been:
          <ul class="govuk-list govuk-list--bullet">
            <li>built to <a class="govuk-link" href="https://design-system.service.gov.uk/">GOV.UK Design System</a> styles and patterns</li>
            <li>tested with real users</li>
            <li>audited for accessibility</li>
          </ul>
          <p class="govuk-body">In addition, your forms will be hosted on a monitored, supported platform and your users’ data will be protected to the highest government standards.</p>
        </div>
      </div>
    </section>
    <section class="content-section content-section--with-top-border">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">How teams are using MoJ Forms</h2>
        <ul class="govuk-list govuk-list--bullet">
        <li>Court of Protection is helping people <a class="govuk-link" href="https://apply-to-become-a-property-and-affairs-deputy.form.service.justice.gov.uk/">apply to be a deputy for someone who may lack mental capacity</a></li>
        <li>Official Solicitor and Public Trustee (OSPT) is improving the process for landlords to <a class="govuk-link" href="https://apply-to-register-a-notice-with-the-public-trustee-nl1.form.service.justice.gov.uk/">register a notice</a> when a tenant dies without an executor or will</li>
        <li>HM Prisons and Probation Service (HMPPS) is enabling people to <a class="govuk-link" href="https://unwanted-prisoner-contact.form.service.justice.gov.uk/">block unwanted contact from prisoners</a></li>
        <li>MoJ recruitment team is connecting with people who are <a class="govuk-link" href="https://register-your-interest-in-prison-and-probation-jobs.form.service.justice.gov.uk/">interested in working in prisons and probation</a></li>
        <li>Criminal Injuries Compensation Authority (CICA) is capturing <a class="govuk-link" href="https://contact-the-cica.form.service.justice.gov.uk/">enquiries</a> and <a class="govuk-link" href="https://complain-to-the-cica.form.service.justice.gov.uk/">complaints</a> from the public</li>
        </ul>
      </div>
    </div>
  </section>
  </div>
</main>

