---
title: MOJ Form Builder
---

<div class="masthead">
  <div class="hero hero--breaded">
    <div class="hero__content">
      <div class="hero__body">
        <h1 class="hero__title">
          Create and publish digital forms without starting from scratch
        </h1>
        <p class="lede">
          Try Form Builder now if you work in a digital team. Contact the team to find out more.
        </p>
        <a href="https://contact-demo-dev.apps.cloud-platform-live-0.k8s.integration.dsd.io/contact-details" role="button" class="hero-button" data-click-events data-click-category="Hero" data-click-action="Button clicked">
          Contact us
        </a>
      </div>
      <div class="hero__aside-image">
        <img src="images/formbuilder-product-image.svg" alt="Illustration of Form Builder publishing a form" role="presentation">
      </div>
    </div>
  </div>
</div>

<main id="content" class="content supplementary" role="main">
  <div class="container">
    <div class="grid-row content-section">
      <div class="column-two-thirds">
        <h2 class="content-section__title heading-medium">
          A simple user interface
        </h2>
        <p>
          Form Builder allows your team to build digital forms with no complex coding knowledge using the GOV.UK Design System.
        </p>

        <p>
          <a href="/features">Find out if Form Builder is right for your service</a>.
        </p>
      </div>
    </div>

    <div class="content-section content-section--with-top-border">
      <div class="grid-row">
        <div class="column-two-thirds">
          <h2 class="content-section__title heading-medium">
            Build and prototype digital forms
          </h2>
          <p>
            Use GOV.UK page templates and components to quickly build and prototype digital forms.
          </p>
        </div>
      </div>
    </div>

    <div class="content-section content-section--with-top-border">
      <div class="grid-row">
        <div class="column-two-thirds">
          <h2 class="content-section__title heading-medium">
            Publish forms quickly and easily
          </h2>
          <p>
            Form Builder allows you to publish your digital forms with one click.
          </p>
        </div>
      </div>
    </div>
  </main>
