---
title: MoJ Forms
---

<div class="masthead">
  <div class="hero">
    <div class="hero__content">
      <div class="hero__body">
        <h1 class="hero__title">Publish digital forms quickly and easily</h1>
        <p class="hero__description">Sign up to our MoJ Forms private beta and start building your own forms now.</p>
        <a class="govuk-link" href="features" role="button" draggable="false" class="govuk-button govuk-button--start app-button--inverted" data-module="govuk-button" data-click-events data-click-category="Hero" data-click-action="Button clicked">
          Find out more
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>
      </div>
      <div class="hero__aside-image">
        <img src="/images/moj-online-product-image.png" alt="image representing moj online process" role="presentation">
      </div>
    </div>
  </div>
</div>
<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-width-container">
    <section class="content-section">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m">Introducing MoJ Forms</h2>

          <div class="responsive-embed responsive-embed--16by9 responsive-embed--bordered bottom-gutter-2">
            <div class="responsive-embed__wrapper">
              <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/eq8rxDNkAow" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="content-section content-section--with-top-border">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h2 class="govuk-heading-m">Create prototypes faster</h2>
          <p class="govuk-body">Quickly learn which solution will solve a problem for users.</p>
        </div>
        <div class="govuk-grid-column-one-half">
          <img src="/images/ProductSite1.jpg" alt="A form page shown in the MoJ Form editor and how it will display to the public" width="100%" height="100%" >
        </div>
      </div>
    </section>
    <section class="content-section content-section--with-top-border">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m">Cut the cost of building digital forms</h2>
            <p class="govuk-body">Design, build, publish and host single forms or full services without the need for coding.</p>
        </div>
        <div class="govuk-grid-column-one-half">           
        <video width="470" controls poster="/images/flow_poster.jpg" aria-label="Screen recording of the flow view of a form in MoJ Forms showing multiple branching points"><source src="/videos/mojf_flowview.mp4" type="video/mp4">Your browser does not support the video tag.</video>
      </div>
      </div>
    </section>
    <section class="content-section content-section--with-top-border">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m">A service you can trust</h2>
          <p class="govuk-body">MoJ Forms can save you months in design, development and testing time. All the page templates and components available to you have been:
          <ul class="govuk-list govuk-list--bullet">
            <li>built to GOV.UK Design System styles and patterns</a></li>
            <li>tested with real users</li>
            <li>audited for accessibility</li>
          </ul>
          <p class="govuk-body">In addition, your forms will be hosted on a monitored, supported platform and your users’ data will be protected to the highest government standards.</p>
          <p class="govuk-body">View our current <a class="govuk-link" href="/features">features and future plans</a> to decide if MoJ Forms is right for you.</p>
      <h3 class="govuk-heading-s">Teams already using our service include:</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li>MoJ Policy</li>
              <li>Criminal Injuries Compensation Authority (CICA)</li>
              <li>HM Courts and Tribunals Service (HMCTS)</li>
              <li>Office of the Public Guardian (OPG)</li>
              <li>HM Prisons and Probation Service (HMPPS)</li>
            </ul>
          </p>
        </div>
      </div>
    </section>
  </div>
</main>

