---
title: MoJ Forms
---

<div class="masthead">
  <div class="hero">
    <div class="hero__content">
      <div class="hero__body">
        <h1 class="hero__title">Publish digital forms quickly and easily</h1>
        <p class="hero__description">Give your users a secure, accessible way to contact you, make a request or submit information.</p>
        <p class="hero__description">If you work for the Ministry of Justice or one of its agencies, start building your own forms now.</p>
        <a class="govuk-link" href="features" role="button" draggable="false" class="govuk-button govuk-button--start app-button--inverted" data-module="govuk-button" data-click-events data-click-category="Hero" data-click-action="Button clicked">
          Contact MoJ Forms
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-width-container">
    <section class="content-section">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="responsive-embed responsive-embed--16by9 responsive-embed--bordered bottom-gutter-2">
            <div class="responsive-embed__wrapper">
              <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/eq8rxDNkAow" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="content-section content-section--with-top-border">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h2 class="govuk-heading-m">Create prototypes faster</h2>
          <p class="govuk-body">Quickly learn which solution will solve a problem for users.</p>
        </div>
        <div class="govuk-grid-column-one-half">
          <img src="/images/ProductSite1.jpg" alt="A form page shown in the MoJ Form editor and how it will display to the public" width="100%" height="100%" >
        </div>
      </div>
    </section>
    <section class="content-section content-section--with-top-border">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m">Cut the cost of building digital forms</h2>
            <p class="govuk-body">Design, build, publish and host any number of forms on your own for free.</p>
        </div>
        <div class="govuk-grid-column-one-half">           
        <video width="470" controls poster="/images/flow_poster.jpg" style="border: 1px solid #CCC;" aria-label="Screen recording of the flow view of a form in MoJ Forms showing multiple branching points"><source src="/videos/mojf_flowview.mp4" type="video/mp4">Your browser does not support the video tag.</video>
      </div>
      </div>
    </section>
    <section class="content-section content-section--with-top-border">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m">A service you can trust</h2>
          <p class="govuk-body">MoJ Forms can save you months in design, development and testing time. All the page templates and components available to you have been:
          <ul class="govuk-list govuk-list--bullet">
            <li>built to <a class="govuk-link" href="https://design-system.service.gov.uk/">GOV.UK Design System</a> styles and patterns</a></li>
            <li>tested with real users</li>
            <li>audited for accessibility</li>
          </ul>
          <p class="govuk-body">In addition, your forms will be hosted on a monitored, supported platform and your users’ data will be protected to the highest government standards.</p>
          <p class="govuk-body">View our current <a class="govuk-link" href="/features">features and future plans</a> to decide if MoJ Forms is right for you.</p>
        </div>
      </div>
    </section>



    <section class="content-section content-section--with-top-border">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">How teams are using MoJ Forms</h2>
        <ul class="govuk-list govuk-list--bullet">
        <li>Court of Protection is using MoJ Forms to help people <a class="govuk-link" href="https://apply-to-become-a-property-and-affairs-deputy.form.service.justice.gov.uk/">apply to be a deputy for someone who may lack mental capacity</a></li>
        <li>Official Solicitor and Public Trustee (OSPT) is using MoJ Forms to improve the process for landlords to <a class="govuk-link" href="https://apply-to-register-a-notice-with-the-public-trustee-nl1.form.service.justice.gov.uk/">register a notice</a> when a tenant dies without an executor or will</li>
        <li>HM Prisons and Probation Service (HMPPS) is using MoJ Forms to enable people to <a class="govuk-link" href="https://unwanted-prisoner-contact.form.service.justice.gov.uk/">block unwanted contact from prisoners</a></li>
        <li>MoJ recruitment team is using MoJ Forms to connect with people who are <a class="govuk-link" href="https://register-your-interest-in-prison-and-probation-jobs.form.service.justice.gov.uk/">interested in working in prisons and probation</a></li>
        <li>Criminal Injuries Compensation Authority (CICA) is using MoJ Forms to capture <a class="govuk-link" href="https://contact-the-cica.form.service.justice.gov.uk/">enquiries</a> and <a class="govuk-link" href="https://complain-to-the-cica.form.service.justice.gov.uk/">complaints</a> from the public</li>
        </ul> 
      </div>
    </div>
  </section>




    <h3 class="govuk-heading-s"></h3>
    






  </div>
</main>

