---
title: MoJ Online
---

<div class="masthead">
  <div class="hero hero--breaded">

    <div class="hero__content">
      <div class="hero__body">
        <h1 class="hero__title">Publish online forms quickly and easily.</h1>
        <p class="hero__description">Try MOJ Online now if you work at Ministry of Justice.</p>
        <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start app-button--inverted" data-module="govuk-button" data-click-events data-click-category="Hero" data-click-action="Button clicked">
          Contact us
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>
      </div>
      <div class="hero__aside-image">
        <img src="/images/moj-online-product-image.svg" alt="image representing moj online process" role="presentation">
      </div>
    </div>
  </div>
</div>

<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-width-container">

    <div class="govuk-grid-row product-page-!-border-bottom govuk-!-margin-bottom-7">
      <div class="govuk-grid-column-one-half">
        <section class="content-section content-section--with-top-border">
          <h2 class="govuk-heading-l content-section__first-heading">Quickly test different solutions</h2>
            <p class="govuk-body">Create prototypes for testing and speed up the process of understanding the user’s needs.</p>
        </section>
      </div>
      <div class="govuk-grid-column-one-half">
        <section class="content-section">
          <img src="/images/product-testing.svg" alt="images of different layouts of a form online." class="image govuk-!-display-block govuk-!-margin-bottom-4">
        </section>
      </div>
    </div>

    <div class="govuk-grid-row product-page-!-border-bottom govuk-!-margin-bottom-7">
      <div class="govuk-grid-column-one-half">
        <section class="content-section content-section--with-top-border">
          <h2 class="govuk-heading-l content-section__first-heading">Gain insights for future reform</h2>
            <p class="govuk-body">Pilot solutions to build confidence with decision-makers and gather evidence for wider transformation.</p>
        </section>
      </div>
      <div class="govuk-grid-column-one-half">
        <section class="content-section">
          <img src="/images/product-pilot.svg" alt="screenshot of the form builder editor " class="image govuk-!-display-block govuk-!-margin-bottom-4">
        </section>
      </div>
    </div>

    <div class="govuk-grid-row product-page-!-border-bottom govuk-!-margin-bottom-7">
      <div class="govuk-grid-column-one-half">
        <section class="content-section content-section--with-top-border">
          <h2 class="govuk-heading-l content-section__first-heading">Cut the cost of building online forms</h2>
            <p class="govuk-body">Design and build stand-alone forms or services with multiple transactions without the need for a development team.</p>
        </section>
      </div>
      <div class="govuk-grid-column-one-half">
        <section class="content-section">
          <img src="/images/product-tool.svg" alt="screenshot of the form builder editor " class="image govuk-!-display-block govuk-!-margin-bottom-4">
        </section>
      </div>
    </div>
 
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <section class="content-section content-section--with-top-border">
          <h2 class="govuk-heading-l content-section__first-heading">Trusted by teams</h2>
          <p class="govuk-body">All forms built using MOJ Online <a href="/features/#meet-gov-standards">meet government standards</a>.</p>
          <p class="govuk-body">Teams are already using our service, including MoJ Policy, Criminal Injuries Compensation Authority (CICA), and HM Courts and Tribunals Service (HMCTS).</p>
        </section>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <section class="content-section content-section--with-top-border">
          <h2 class="govuk-heading-l content-section__first-heading">HMCTS case study</h2>
          <p class="govuk-body">We helped a team in HMCTS to build and publish an online complaints form.</p>
          <p class="govuk-body">The form was built and published in 4 weeks, replacing a legacy service with a form which meets legal accessibility and security requirements.</p>
          <p class="govuk-body">Read the <a href="/HMCTS-case-study">HMCTS case study</a>.</p>
        </section>
      </div>
      <div class="govuk-grid-column-one-half">
        <section class="content-section">
          <img src="/images/hmcts-case-study.png" alt="screenshot comparison of hmcts resolver and the moj online pages" class="image govuk-!-display-block govuk-!-margin-bottom-4">
        </section>
      </div>
    </div>

  </div>
</main>

