---
title: News
heading: News
menu: top
menuindex: 2
---

<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-width-container">

  <section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">A service you can trust</h2>
      <p class="govuk-body">MoJ Forms can save you months in design, development and testing time. All the page templates and components available to you have been:
      <p class="govuk-body">In addition, your forms will be hosted on a monitored, supported platform and your users’ data will be protected to the highest government standards.</p>
      <p class="govuk-body">View our current <a href="/features">features and future plans</a> to decide if MoJ Forms is right for you.</p>
    </div>
  </div>
</section>

<section class="content-section content-section--with-top-border">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">A service you can trust</h2>
    <p class="govuk-body">MoJ Forms can save you months in design, development and testing time. All the page templates and components available to you have been:
    <p class="govuk-body">In addition, your forms will be hosted on a monitored, supported platform and your users’ data will be protected to the highest government standards.</p>
    <p class="govuk-body">View our current <a href="/features">features and future plans</a> to decide if MoJ Forms is right for you.</p>
  </div>
</div>
</section>

<section class="content-section content-section--with-top-border">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">A service you can trust</h2>
    <p class="govuk-body">MoJ Forms can save you months in design, development and testing time. All the page templates and components available to you have been:
    <p class="govuk-body">In addition, your forms will be hosted on a monitored, supported platform and your users’ data will be protected to the highest government standards.</p>
    <p class="govuk-body">View our current <a href="/features">features and future plans</a> to decide if MoJ Forms is right for you.</p>
  </div>
</div>
</section>

<section class="content-section content-section--with-top-border">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">A service you can trust</h2>
    <p class="govuk-body">MoJ Forms can save you months in design, development and testing time. All the page templates and components available to you have been:
    <p class="govuk-body">In addition, your forms will be hosted on a monitored, supported platform and your users’ data will be protected to the highest government standards.</p>
    <p class="govuk-body">View our current <a href="/features">features and future plans</a> to decide if MoJ Forms is right for you.</p>
  </div>
</div>
</section>

<section class="content-section content-section--with-top-border">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">A service you can trust</h2>
    <p class="govuk-body">MoJ Forms can save you months in design, development and testing time. All the page templates and components available to you have been:
    <p class="govuk-body">In addition, your forms will be hosted on a monitored, supported platform and your users’ data will be protected to the highest government standards.</p>
    <p class="govuk-body">View our current <a href="/features">features and future plans</a> to decide if MoJ Forms is right for you.</p>
  </div>
</div>
</section>

  </div>
</main>

