---
title: News
heading: News
menu: top
menuindex: 2
---

<main class="govuk-main-wrapper govuk-body" id="main-content" role="main">
  <div class="govuk-width-container">
  <h1 class="govuk-heading-l"><%= current_page.data.heading%></h1>
  <section class="content-section">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p><b>Get news in your inbox</b> - email <a class="govuk-link" href="mailto:moj-forms@digital.justice.gov.uk">moj-forms@digital.justice.gov.uk</a> to subscribe to our newsletter.</p>
    </div>
  </div>
  </section>
 <section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>10 June 2025</p>
    <h2 id="next-steps-retiring-10062025" class="govuk-heading-m">Next steps announced in retirement of MoJ Forms </h2>
    <p>MoJ Forms will soon remove the ability to create new forms as part of the ongoing efforts to <a class="govuk-link" href="#migration-update-20082024">retire the platform</a>.</p>
    <p>This will happen in 2 phases:</p>
    <ul>
    <li>From 1 July, the team will remove the option to "Create a new form” in the editor. Users can continue to work on any forms that are in development after this time.</li>
    <li>From 1 August, the team will stop granting approval for new forms to go live. </li>
    </ul>
    <p>Users will continue to be able to edit and publish updates to live forms as normal.</p>
    <p>The team will also stop granting access to the platform to new users. However, they will continue to support teams that need to transfer ownership of live forms to new users.</p>
    <p>Plans for migrating forms off MoJ Forms are ongoing. Timescales for the migration have been extended into 2026 to allow time for the most complex forms to make alternative arrangements.</p>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
    <p>20 August 2024</p>
    <h2 id="migration-update-20082024" class="govuk-heading-m">How we plan to close MoJ Forms</h2>
    <p>The MoJ Forms team has provided more details on the plan for migrating users off the platform. The <a class="govuk-link" href="#mojforms-future-19022024">decision to retire MoJ Forms</a> was announced in February.</p>
    <p>MoJ Forms currently hosts 61 forms varying in size and complexity. 14 of these forms are for internal use and 47 for external use (i.e. for members of the public). Over time, these forms will need to be rehomed on <a class="govuk-link" href="https://www.forms.service.gov.uk/">GOV.UK Forms</a> or another suitable form building platform.</p>
    <p>We have identified a number of more complex forms that will not be suitable for GOV.UK Forms and are exploring other options for them. We will contact the owners of these forms soon to discuss the options.</p>
    <p>MoJ Forms will continue to be supported and maintained throughout the migration process.</p>
    <h3 class="govuk-heading-s">The process for new forms</h3>
    <p>MoJ's primary form building platform is now <a class="govuk-link" href="https://www.forms.service.gov.uk/">GOV.UK Forms</a>. You should consider and rule it out before considering MoJ Forms.</p>
    <p>If GOV.UK Forms cannot meet your requirements, you can still build new forms on MoJ Forms. However, all forms will eventually need to be migrated to GOV.UK Forms or an alternative platform.</p>
    <p>GOV.UK Forms is intended only for external-facing forms. If the form you are planning to build is for internal MoJ use you should explore other form building platforms first, such as <a class="govuk-link" href="https://www.microsoft.com/en-gb/microsoft-365/online-surveys-polls-quizzes">Microsoft Forms</a>.</p>
    <h3 class="govuk-heading-s">Timeframes</h3>
    <p>The majority of forms hosted on MoJ Forms use features that are currently not available in GOV.UK Forms. There are plans to add many of these features over time.</p>
    <p>We have identified a small number of forms that we think could be migrated within the next few months. If your form sits within this group we will be reaching out to you in the coming months to discuss next steps.</p>
    <p>Depending on the progress made by the GOV.UK Forms team, we anticipate the next phase of migration to begin in early 2025, at the earliest. We will begin with the simpler forms as GOV.UK releases the features they need, such as multiple-question pages and file upload.</p>
    <p>We anticipate that forms using complex branching, save and return or autocomplete will be the last to migrate.</p>
    <h3 class="govuk-heading-s">Next steps</h3>
    <p>Existing form owners do not need to take any action. If your form is one that we have identified as being ready for migration, we will reach out to you very soon to start discussing next steps. We will provide you with a further update after the first phase of migration has been completed.</p>
    <p>Anyone considering creating a new form should <a class="govuk-link" href="/contact">contact the MoJ Forms team</a> to discuss the best options. If the form is simple enough, you may be able to create it on GOV.UK Forms, eliminating the need for future migration.</p>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
<section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>9 May 2024</p>
    <h2 id="transfer-form-09052024" class="govuk-heading-m">Transfer your forms to another user</h2>
    <p>You can now transfer your forms to another MoJ Forms user by changing the 'form owner' in settings.</p>
    <p>This new setting enables you to instantly transfer a form without needing our support. You can use this feature to:</p>
    <ul>
    <li>give another user access to make changes to a form or review a form in flow view</li>
    <li>reassign a form permanently, for example if you are leaving a team</li>
    </ul>
    <p>The form owner is the only person that can see a form on the 'Your forms' page and make changes to a form in the MoJ Forms editor. A form can have only one owner at a time.</p>
    <p>Once you change the form's owner, you will be taken back to 'Your forms' and no longer see or be able to access the form.</p>
    <p>To transfer a form, go to: Settings > Change form owner</p>
    <p>The new form owner must already be an MoJ Forms user and have signed into MoJ Forms at least once. If they aren't a user yet, ask them to <a class="govuk-link" href="/contact/">contact us</a> to get access.</p>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
  <section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>22 March 2024</p>
    <h2 id="regex-22032024" class="govuk-heading-m">How to use MoJ Forms to check specific answer formats</h2>
    <p>It's now possible to check if a user's answer to a question matches a particular format using a new 'specific answer format (regex)' validation setting.</p>
    <p>Regex (short for regular expression) is a way of defining a pattern of characters. When you apply this to a question, the form checks if an answer matches that pattern. For example, you could check if an answer matches the format of a reference number or case ID. Regex 'options', which allow some additional flexibility, are not currently supported.</p>
    <p>Regex uses programming language and can get quite complex, depending on what you want it to do. For this reason, we recommend that you get help from an expert, such as a developer, to write it for you.</p>
    <p>MoJ Forms does not check to see if your regex is working correctly when applying it. You can check if your regex matches a particular answer using an online editor such as <a class="govuk-link" href="https://rubular.com/">Rublar</a>. You should also conduct proper testing with users.</p>
    <p>You can use the 'specific answer format' setting on text and textarea questions. To enable it, click in the question title to highlight the component settings button (...) and click to open the menu.</p>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
  <section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>29 February 2024</p>
    <h2 id="reorder-questions-29022024" class="govuk-heading-m">Questions can now be reordered on multiple question pages</h2>
    <p>Editing multiple question pages is now a little easier thanks to this new feature.</p>
    <p>Each question and content area on a multiple question page now has its own up and down buttons. These can be used to shuffle the order of components on the page. The buttons are shown when you click into the question title or content area.</p>
    <img style="width:80%" src="/images/reorder-questions-example.gif" alt="This short animation shows several questions being reordered on a multi-question page. The page title is Your contact details and there are three text questions beneath it labelled telephone number, email address and full name. The cursor moves to email address and clicks in the question. 2 buttons appear to the right of the question with arrows pointing up and down. The cursor moves to the up button and clicks. The question moves up one position. This action is repeated twice with the full name question until the questions are in the order: full name, email address and telephone number." class="screenshot-image">
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
<section class="content-section content-section--with-top-border">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <p>29 February 2024</p>
  <h2 id="security-classifications-29022024" class="govuk-heading-m">Applying the Government Security Classifications Policy to forms</h2>
  <p>All data received from forms is now labelled OFFICIAL-SENSITIVE. This is to comply with the <a class="govuk-link" href="https://www.gov.uk/government/publications/government-security-classifications/government-security-classifications-policy-html">Government Security Classifications Policy</a>. The label appears:</p>
  <ul>
  <li>in the body of emails containing form submission data or attachments</li>
  <li>in PDFs containing form submission data</li>
  <li>in the file name of CSVs containing form submission data</li>
  </ul>
  <p>The policy is a framework for protecting government information against compromise, loss or incorrect disclosure. Any information that is created, processed, sent or received as a part of your work for the government falls under the policy.</p>
  <p>The OFFICIAL classification covers the majority of information that is created, processed, sent or received in the public sector and by partner organisations, which could cause no more than moderate damage if compromised.</p>
  <p>The additional -SENSITIVE marking indicates that the information is not intended for public release and that it is of at least some interest to threat actors (internal or external), activists or the media. This may not always apply, depending on the nature of your form, but this extra marking ensures that all relevant data is covered.</p>
  <p>The policy also includes 2 other classifications - <a class="govuk-link" href="https://www.gov.uk/government/publications/government-security-classifications/government-security-classifications-policy-html#definitions-for-official-secret-and-top-secret">SECRET and TOP SECRET</a>. MoJ Forms should not be used if any of the information being collected has the potential to fall under these classifications.</p>
  <p><a class="govuk-link" href="#top">Back to top</a></p>
  </div>
</div>
</section>
<section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>19 February 2024</p>
    <h2 id="mojforms-future-19022024" class="govuk-heading-m">The future of MoJ Forms</h2>
    <p>Deputy Director Martyn Inglis, Head of Platforms and Architecture at MoJ, has written to MoJ Forms users and stakeholders to announce the intention to close down MoJ Forms.</p>
    <p>Martin wrote:</p>
    <p>"For the last couple of years, GDS has been working on a similar form building platform, GOV.UK Forms, which is now starting to mature. We think now is the right time to consider how we align our two platforms.</p>
    <p>"We ultimately believe that GOV.UK Forms should be the single product digitising forms in government. Consequently MoJ will begin to look at using this as our solution for creating online forms. Over time that will mean that the forms on MoJ Forms will be migrated to GOV.UK Forms, and we will create a plan to manage that migration for you, our users.</p>
    <p>"There will be no immediate changes for form owners or for your existing live forms and we will continue to support those in current development. This is not something that can happen overnight and we have engaged with GDS to develop a shared roadmap with the GOV.UK Forms team. As we progress with the roadmap we will see increasing opportunities to use GOV.UK Forms, and ultimately it will replace MOJ Forms as the way to deliver this product.</p>
    <p>"MoJ Forms will remain an active product for MoJ whilst this process happens, and as you’ll have seen from Friday's email from the team, we continue to maintain and manage the MoJ Forms product.</p>
    <p>"This is the first of many communications on this. We plan to keep you updated as we work through the details of what this collaboration looks like and more indicative timelines depending on the complexity of your form. We are still in the very early stages of this journey and will keep you informed throughout.</p>
    <p>"We are incredibly proud of all of the progress the team has achieved over the past six years. The GOV.UK Forms team recognise how advanced the MoJ Forms platform offering is and so we’re working together to see how we can utilise the work and learnings to progress the GOV.UK Forms platform."</p>
    <p>Anyone can contact the team with questions and feedback at:</p>
    <ul>
    <li>Slack: <a class="govuk-link" href="https://moj.enterprise.slack.com/archives/C06J3PCGPQC">#ask-moj-forms-migration on mojdt.slack.com</a>
    <li>Email: <a class="govuk-link" href="mailto:moj-forms-migration@digital.justice.gov.uk">moj-forms-migration@digital.justice.gov.uk</a>
    </ul>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
<section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>14 February 2024</p>
    <h2 id="address-14022024" class="govuk-heading-m">An easier way to ask for addresses</h2>
    <p>Asking for an address in your forms just got a lot easier with the introduction of a pre-formatted address question type.</p>
    <p>The new question type adds several text inputs in one block closely following the guidance of the <a class="govuk-link" href="https://design-system.service.gov.uk/patterns/addresses/">GOV.UK Design System</a>. This saves you from either having to build it yourself with multiple text questions or risk poor quality answers with a text area.</p>
    <p>It also helps the user save time by allowing them to autofill it with any address information saved in their browser.</p>
    <p>It can be used on both single and multi-question pages.</p>
    <p>See the user guide for more on <a class="govuk-link" href="/building-and-editing/#address-question">when and how to use the address question type</a>.</p>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
  <section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>29 January 2024</p>
    <h2 id="govuk-start-page-29012024" class="govuk-heading-m">New start page option for publishing on GOV.UK</h2>
    <p>You can now choose between 2 types of start page for your forms:</p>
    <ul>
    <li>an MoJ Forms start page - the page you've been using up to now that is created as part of your form</li>
    <li>a GOV.UK start page - which a GOV.UK publisher would create for you on GOV.UK</li>
    </ul>
    <p>With a GOV.UK start page, the page sits on GOV.UK instead of in your form. The regular start page in your form is removed and any links to the start page, such as in your form's header, are updated to point to the GOV.UK URL.</p>
    <p>Learn more about <a class="govuk-link" href="/building-and-editing/#start-page">choosing between the different start page options</a> in the user guide.</p>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
  <section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>11 January 2024</p>
    <h2 id="2023roundup-11012023" class="govuk-heading-m">The 2023 roundup</h2>
    <p>2023 was another packed year in the MoJ Forms team and we wanted to share the highlights.</p>
    <div class="responsive-embed responsive-embed--16by9 responsive-embed--bordered bottom-gutter-2">
    <div class="responsive-embed__wrapper">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/CRh7a3btPgU" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
<section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">News archive</h2>
    <p><a class="govuk-link" href="/news-2023">2023 news</a></p>
    <p><a class="govuk-link" href="/news-2022">2022 news</a></p>
    <p><a class="govuk-link" href="/news-2021">2021 news</a></p>
    </div>
  </div>
</section>
  </div>
</main>

