---
title: News
heading: News
menu: top
menuindex: 2
---

<main class="govuk-main-wrapper govuk-body" id="main-content" role="main">
  <div class="govuk-width-container">
  <h1 class="govuk-heading-l"><%= current_page.data.heading%></h1>

  <section class="content-section" "">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>6 August 2021</p>
    <h2 class="govuk-heading-m">Why we ask for page names</h2>
    <p>We have made some minor changes to the way you add a new page to a form.</p>
    <p>Previously, when you added a new page to your form, we asked for a URL. Some users found this question confusing so we took another look.</p>
    <p>Each page of a form has its own unique URL - test.form.service.justice.gov.uk/<strong>page-1</strong>, test.form.service.justice.gov.uk/<strong>page-2</strong> and so on. It&rsquo;s just this last part of the URL (sometimes called the slug) we need from the user, which we realised wasn&rsquo;t clear.&nbsp;</p>
    <p>To help explain this more clearly, we have rephrased the question and added some hint text. We are also adding some additional error messages to give users an extra nudge where needed.&nbsp;</p>
    <p>Longer term, we think we can take this even further and remove the need for users to name their pages altogether. That requires a little more development so has been added to our backlog.</p>
    </div>
  </div>
</section>

<section class="content-section content-section--with-top-border">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <p>6 July 2021</p>
  <h2 class="govuk-heading-m">How to format content</h2>
  <p>MoJ Forms uses something called markdown to let you add formatting to content. Markdown is a way of adding formatting to plain text using basic symbols and patterns. With</p>
  <p>markdown, you can add headings, links, lists, tables and more. For example, to create a</p>
  <p>bulleted list, you start each item with an asterisk (*).&nbsp;</p>
  <p>You can use markdown in any content area, which you will find on content pages, as well as the start page, confirmation page and several other templates.</p>
  <p>The userguide includes a selection of the most common markdown features to use in your forms.</p>
  </div>
</div>
</section>

<section class="content-section content-section--with-top-border">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <p>6 July 2021</p>
  <h2 class="govuk-heading-m">Fixed: deleting components on a multiple question page</h2>
  <p>You can now delete components from a multiple question page.&nbsp;</p>
  <p>To delete a component:&nbsp;</p>
  <ul>
  <li>click in the component title field to show the component menu (3 dots in a circle)</li>
  <li>click to open the component menu</li>
  <li>select delete and confirm the action&nbsp;</li>
  </ul>
  </div>
</div>
</section>

<section class="content-section content-section--with-top-border">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <p>11 June 2021</p>
  <h2 class="govuk-heading-m">How to collect files from users</h2>
  <p>MoJ Forms now enables you to ask users to attach files to their forms, such as proof of ID, receipts and bills.&nbsp;</p>
  <p>The file upload component supports a variety of file formats, including images, MS Office and OpenDocument, up to 7MB in size. (See the user guide for the full list of supported files.)</p>
  <p>You can find file upload under the single question page menu. For now, users can attach only one file per page. To collect additional files, you will need to add extra file upload pages.</p>
  </div>
</div>
</section>

<section class="content-section content-section--with-top-border">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <p>11 June 2021</p>
  <h2 class="govuk-heading-m">Fixed: optional field labels no longer show in preview</h2>
  <p>Our page templates contain several optional areas for content. These are indicated by square brackets and labelled as optional, such as [optional section heading]. If you leave these fields with their default text, they won&rsquo;t show on your final form, but until recently they did show in preview mode. That bug has now been fixed.&nbsp;</p>
  <p>If you find any optional fields still showing in preview, you may need to &lsquo;reset&rsquo; them. To do this:&nbsp;</p>
  <ul>
  <li>open the affected page to edit</li>
  <li>click into the optional field and delete the default text</li>
  <li>click anywhere else on the page - the default text should reappear</li>
  <li>Save your changes and preview your form to check that the optional fields are no longer showing</li>
  </ul>
  </div>
</div>
</section>

<section class="content-section content-section--with-top-border">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <p>21 May 2021</p>
<h2 class="govuk-heading-m">How to make a question optional</h2>
<p>It&nbsp; is now possible to make a question optional so that a user can move on without answering it. This can be done with both single question pages and individual questions on multi-question pages.</p>
<p>To make a question optional, first click in the question title as if you are going to edit it. This highlights the component settings menu (a circle with 3 dots in it). Clicking on the menu will open it. It looks like this:&nbsp;</p>
<p>For now, there is only one setting, called &lsquo;Required&rsquo;. All questions are required by default, which is indicated by a tick. Click on this setting to switch required to &lsquo;no&rsquo; and make your question optional.</p>
  </div>
</div>
</section>

  </div>
</main>

