---
title: News
heading: News
menu: top
menuindex: 2
---

<main class="govuk-main-wrapper govuk-body" id="main-content" role="main">
  <div class="govuk-width-container">
  <h1 class="govuk-heading-l"><%= current_page.data.heading%></h1>
  <section class="content-section">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p><b>Get news in your inbox</b> - email <a class="govuk-link" href="mailto:moj-forms@digital.justice.gov.uk">moj-forms@digital.justice.gov.uk</a> to subscribe to our newsletter.</p>
    </div>
  </div>
  </section>
  <section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>29 November 2023</p>
    <h2 id="publishing-changes-29112023" class="govuk-heading-m">New step to getting forms live</h2>
    <p>The ability to publish to Live is no longer available immediately with new forms. Now, when you are satisfied that your form is ready to go live, you need to <a class="govuk-link" href="/testing-and-publishing/#final-check">apply to unlock publishing</a>.</p>
    <p>This can take up to 3 working days.</p>
    <p>Normally, publishing will be unlocked and you will receive a confirmation by email. If there are any issues, a member of the MoJ Forms team will contact you directly.</p>
    <p>Once publishing to Live has been unlocked, you are free to publish your form at any time. You won't need to go through this process again for any future updates.</p>
    <p>This only affects live publishing. You are still able to publish forms to the Test site without restriction.</p>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
  <section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>23 October 2023</p>
    <h2 id="visibility-23102023" class="govuk-heading-m">Targeting content with visibility</h2>
    <p>You can now customise areas of content within a page using the new <a class="govuk-link" href="/building-and-editing#visibility">content visibility setting</a>.<p>
    <p>Visibility is what we call being able to show users different blocks of content based on their previous answers. With visibility, you can change or hide some of the content on the page for different users.</p>
    <p>It's also a really powerful tool for creating <a class="govuk-link" href="https://gds.blog.gov.uk/2012/02/16/smart-answers-are-smart/">'smart answer' services</a> where you ask the user a series of questions and provide information tailored to their answers. Visibility allows you to use a single information page to serve dozens of different combinations of answers. </p>
    <p>Visibility is a setting on all content areas - the text boxes that allow you to add paragraphs of content and use markdown formatting. These are on content pages, exit pages, the confirmation page and a number of other page templates.</p>
    <p>Visibility allows you to set a content area to show:</p> 
    <ul>
    <li>always (the default setting)</li>
    <li>never</li>
    <li>only if…</li>
    </ul>
    <p>With "only if…" you set the conditions under which the content area will show. For example, only show if a user answered yes to a previous question or selected a specific option. It works just like branching, only you are creating rules on a page rather than between pages. And as with branching, visibility rules can only be based on radio button or checkbox questions at the moment.</p>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
  <section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>9 August 2023</p>
    <h2 id="navigation-help-09082023" class="govuk-heading-m">Help navigating large forms</h2>
    <p>A couple of recent new features should make navigating and managing large forms a little easier.</p>
    <p>It's now possible to highlight up to 2 connection paths at a time to make it easier to follow them. In simple forms, it's easy to see how one page is connected to another but this gets harder as a form grows. Some connections can grow quite long as they loop around other pages and it can be hard to follow them, particularly if you need to scroll through the form at the same time.</p>
    <p>You now have 2 ways to highlight these connections:</p>
    <ul>
    <li>move the mouse pointer over a connection, which makes it bold and blue only while the mouse pointer is on the line</li>
    <li>click a connection, which makes it bold and orange even while you move around the flow view - the arrow will stay orange until you click it again, click a different arrow or leave the flow view</li>
    </ul>
    <p>You can use both of these options at the same time to track and compare 2 different connections.</p>
    <p>In addition to these options, MoJ Forms now remembers your position in the flow view when you open a page to edit it or perform actions like moving or deleting pages. When you have finished with your edits or actions and return to the flow view, you will be taken back to your previous position. No more having to scroll from the beginning of your form every time.</p>    
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
  <section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>17 July 2023</p>
    <h2 id="multi-file-17072023" class="govuk-heading-m">How to collect multiple files in one go</h2>
    <p>You can now use the file upload question page to collect multiple files from users in one go.</p>
    <p>Up to now, a file upload page has only allowed users to select a single file. Now, a new option lets you choose the maximum number of files that a user can upload to the page, to a maximum of 10. (The default will continue to be 1.)</p>
    <p>This can be useful if:</p>
    <ul>
    <li>you don't know how many files the user might want to upload</li>
    <li>the user is likely to have several files of the same type, such as receipts or proofs of ID</li>
    </ul>
    <p>In many cases, it may still be better to ask for files over several different pages, rather than all in one go. This approach enables you to be more explicit with the user about what they need to provide and ensure they provide all the required files.</p>
    <p>You can set the maximum number of files when editing a file upload page in the MoJ Forms editor. To do so, click in the question title to highlight the component settings button (...) and select "Number of files…"</p>
    <p>See <a class="govuk-link" href="/building-and-editing/#file-upload">Asking users to submit a file</a> in the user guide for details.</p>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
<section class="content-section content-section--with-top-border">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <p>10 July 2023</p>
  <h2 id="name-change-10072023" class="govuk-heading-m">Changing your form's name and URL</h2>
  <p>The option to rename your form in the MoJ Forms editor is back - and you can change the URL now, too.</p>
  <p>Your form's name is important. It affects how people find your form (through search, for example) and helps them understand what it's for and if it's right for them. But for a while now, you've not been able to change it yourself. You've been stuck with the name you set when first creating your form and dependent on our support team changing it for you.</p>
  <p>Now you can review and update both your form's name and URL in <a class="govuk-link" href="/settings/#change-name">settings</a>. You can change your form's name at any time but you can only change the URL up until you have published your form to Live. This is because changing a Live form's URL can cause problems for users.</p>
  <p>We have also updated our guidance to help you <a class="govuk-link" href="/building-and-editing/#form-name">pick a good name</a>. The best form names:</p>
  <ul>
  <li>describe a task, not a team or department</li>
  <li>use the same words your users would choose</li>
  <li>start with an action, such as "Get help with..." or "Apply for..."</li>
  </ul>
  <p><a class="govuk-link" href="#top">Back to top</a></p>
  </div>
</div>
</section>
  <section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>11 May 2023</p>
    <h2 id="save-for-later-11052023" class="govuk-heading-m">Take some of the stress out of long forms by letting users save their work</h2>
    <p>People filling in your form will be able to save their progress and return to complete it later using MoJ Forms' latest feature.</p>
    <p>Save for later enables users to save a partially-completed form and retrieve their answers using a special one-off link we email them. It's an ideal option for forms that:</p>
    <ul>
    <li>are long or complex</li>
    <li>include questions that users might want time to think about</li>
    <li>ask for information that users might not have immediately to hand</li>
    </ul>
    <p>Save for later is an optional setting. When enabled, it places a secondary save button on question pages, allowing users to choose whether to continue or save for later at any point.</p>
    <p>To save their progress, users need only to enter an email address and a security answer. We then email them a link that they can use to return to the form and retrieve their saved answers.</p>
    <p>Learn more about <a class="govuk-link" href="/settings/#save-for-later">save for later</a> in the user guide.</p>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
<section class="content-section content-section--with-top-border">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <p>29 March 2023</p>
  <h2 id="more-time-29032023" class="govuk-heading-m">More time to complete forms</h2>
  <p>People will be able to take more time filling in your forms without fear of losing information thanks to recent improvements to session management.</p>
  <p>A session is the time a user has to complete the form. Setting a time limit helps protect user data in case they share a computer and walk away in the middle of filling in a form.</p>
  <p>Previously, the session was fixed at 60 minutes. Any user who took longer than an hour would lose their work with no way of saving it.</p>
  <p>Now, the session is 30 minutes but this is refreshed every time a user enters some information or interacts with a button or feature on the page.</p>
  <p>In addition, if nothing happens on a page for 25 minutes, the form will warn the user that the form is about to reset. If the user acknowledges the message, the session will refresh to 30 minutes. If nothing continues to happen for another 5 minutes, the form will reset. Any information entered into the form up to that point will be deleted and the user will need to start again.</p>
  <p>This approach gives users more flexibility in completing forms and removing any pressure to complete them in a fixed time. But there are still things you can do when designing your form to <a class="govuk-link" href="/data-protection/#sessionduration">help users who might need more time</a>.</p>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
  </div>
</div>
</section>
<section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>10 March 2023</p>
    <h2 id="email-settings-10032023" class="govuk-heading-m">Changes to email settings</h2>
    <p>We have made some changes to the ways we collect and use your email addresses in form settings.</p>
    <p>Firstly, we have removed the 'from' address setting. This is because it was causing some emails to end up in spam folders. But we still want your form emails to look and behave as if they are coming from your service, not from the MoJ Forms team. To help with this, we have made 2 other changes:</p>
    <ul>
    <li>added your form name to the 'from' field in all emails</li>
    <li>added a reply address to the confirmation email template</li>
    </ul>
    <p>Now, when your form sends an email - either the submission email to you or the confirmation email to your users - it will show as coming from your form name.</p>
    <p>In addition, the confirmation email template now includes a field for a reply address. This is an address that emails will go to if a user chooses to reply to the email. You need to include this even if you don't want users to reply. Users may reply anyway and could include personal information. For data protection purposes, these emails should only go to your team.</p>
    <p>Overall, these changes should make setting up your form emails a little simpler and more intuitive.</p>
    <p>Learn more about <a class="govuk-link" href="/settings/#confirmation-email">sending users a confirmation email</a> in the user guide.</p>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
  <section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>6 January 2023</p>
    <h2 id="2022review-06012023" class="govuk-heading-m">2022 in review</h2>
    <p>2022 may already feel like a distant memory but we took some time to look back at everything we achieved throughout year.</p>
    <div class="responsive-embed responsive-embed--16by9 responsive-embed--bordered bottom-gutter-2">
    <div class="responsive-embed__wrapper">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/x_eQmvo_vX4" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
  <section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>20 December 2022</p>
    <h2 id="paymentlinks-20122022" class="govuk-heading-m">Taking payments through GOV.UK Pay</h2>
    <p>If you have a GOV.UK Pay account and are set up to take payments through a payment link, MoJ Forms can now help you join up form submissions with payments.</p>
    <p>A GOV.UK Pay payment link is a page on GOV.UK Pay that you can use to take card payments instantly. You can combine this with MoJ Forms to create a 2-step process for users to apply and pay for something:</p>
    <ul>
    <li>Step 1 - the user completes and submits your form. They are given a unique reference number and a link to your GOV.UK Pay payment page on the confirmation page and in the confirmation email.</li>
    <li>Step 2 - the user goes to your GOV.UK Payment page to complete payment. The MoJ Forms reference number is automatically applied to that payment.</li>
    </ul>
    <p>You can then match the form submission with the payment using the MoJ Forms reference number.</p>
    <p>You will need to <a class="govuk-link" href="https://www.payments.service.gov.uk/">set up a GOV.UK Pay account</a> if you don't already have one. You can set up a test page in a few minutes but you should allow several months to set up your payment service provider and be ready to start taking payments.</p>
    <p>Learn more about setting up and <a class="govuk-link" href="/settings/#payment-links">taking payments through GOV.UK Pay</a>.</p>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
  <section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>6 December 2022</p>
    <h2 id="referencenumbers-06122022" class="govuk-heading-m">Providing users with reference numbers</h2>
    <p>MoJ Forms can now generate unique reference numbers for each submission made by your form. This can make it easier to keep track of the submissions you receive and discuss them with users should the need arise.</p>
    <p>For each submission made, a 10-digit number is generated and inserted into:</p>
    <ul>
    <li>the confirmation page</li>
    <li>the subject and message of the submission email</li>
    <li>the PDF and CSV attachments of user answers</li>
    <li>the subject and message of the confirmation email</li>
    </ul>
    <p>(You will need to enable the emails separately.)</p>
    <p>Set-up is easy - you can turn the setting on or off with just a single checkbox. The references are inserted or removed from your form automatically. Doing so will overwrite any custom text in your email templates though, so we recommend taking a copy of your emails beforehand.</p>
    <p>Learn more about <a class="govuk-link" href="/settings/#references">providing users with reference numbers</a>.</p>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
<section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>14 November 2022</p>
    <h2 id="confirmationemail-14112022" class="govuk-heading-m">Sending your users a confirmation email</h2>
    <p>You can now <a class="govuk-link" href="/settings/#confirmation-email">send users a confirmation email</a> when they complete your form. The message can be customised to your service and the user’s answers will be attached in PDF.</p>
    <p>A confirmation email can be used to:</p>
    <ul>
    <li>reassure users that their information was submitted successfully</li>
    <li>allow users to double-check the information they provided and keep it for reference</li>
    <li>help you repeat and reinforce important messages from the confirmation page, such as response times and contact details</li>
    </ul>
    <p>To enable this feature, you will need to capture your users’ email addresses using the <a class="govuk-link" href="/building-and-editing/#question-formats">email address question format</a>.</p>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
  <section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>2 September 2022</p>
    <h2 id="autocomplete-02092022" class="govuk-heading-m">Presenting users with a long list of options</h2>
    <p>A <a class="govuk-link" href="/building-and-editing/#autocomplete">new question type called autocomplete</a> enables you to specify a large range of options for the user to choose from, such as a list of courts or locations.</p>
    <p>An autocomplete question presents the options in a dropdown menu while also allowing the user to type ahead to find matching entries.</p>
    <img src="/images/autocomplete-example.gif" alt="This short animation shows an autocomplete question being filled in. The question is "Which airport did you fly from?" and there is a blank text field beneath it. The cursor moves to the text field and a dropdown appears listing UK airports. The options are filtered as the letters "l o n" are typed into the field and London Heathrow is selected." class="screenshot-image">
    <p>This format is best when there are a lot of options to choose from. Smaller numbers of options are better presented using radio buttons.</p> 
    <p>The options must be uploaded to MoJ Forms in comma-separated values (CSV) format.</p> 
    <p>For more information on using autocomplete and formatting and uploading your options, check out the <a class="govuk-link" href="/building-and-editing/#autocomplete">user guide</a>.</p>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
<section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>22 August 2022</p>
    <h2 id="analytics-22082022" class="govuk-heading-m">Monitor your form’s performance with Google Analytics</h2>
    <p>You can now <a class="govuk-link" href="/settings/#google-analytics">link your form to a Google Analytics account</a> to get real-time insights on your form’s performance and the people using it.</p>
    <p>The new feature, under the settings tab, requires that you have an existing Google Analytics account. To enable it, simply add your tracking ID. You can use:</p>
    <ul>
    <li>Universal Analytics - Google’s legacy analytics service which will be retired in July 2023</li>
    <li>Google Analytics 4 - Google’s latest analytics service, which we recommend for all new forms</li>
    <li>Google Tag Manager - an alternative way of adding analytics to a form without needing to edit the code</li>
    </ul>
    <p>To comply with data protection regulations, users are given the option of accepting or rejecting analytics cookies when they first visit your site. This means you will only receive data for the users that actively opt-in to analytics.</p>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
<section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>4 August 2022</p>
    <h2 id="csvoutput-04082022" class="govuk-heading-m">Collecting information in CSV</h2>
    <p>You can now collect the information your form users submit in comma separated values (CSV) format as well as PDF.</p>
    <p>CSV files list the answers in plain text, separated by commas. They can be imported into spreadsheets and other applications, making it easier to handle and process the information you receive. For example, you could <a class="govuk-link" href="https://support.microsoft.com/en-us/office/import-data-from-a-folder-with-multiple-files-power-query-94b8023c-2e66-4f6b-8c78-6a00041c90e4">import data from multiple CSV files into Microsoft Excel</a> at once.</p>
    <p>You will continue to receive information in PDF as well, even with CSV enabled. The CSV will be sent in a separate email. You will be able to choose between file formats in a future update.</p>
    <p>Check the user guide to <a class="govuk-link" href="/settings/#email-settings">find out how to enable the CSV option</a>.</p>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
   <section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>30 June 2022</p>
    <h2 id="textareacounter-30062022" class="govuk-heading-m">Textareas now include a counter</h2>
    <p>People filling in a textarea with a maximum answer length are now shown a counter as they approach the limit. A prompt appears below the textarea when the user reaches 75% of the limit - either characters or words, depending on the validation setting. It keeps a count of how many characters or words are remaining or over the limit.</p>
    <p>Maximum answer length is one of the <a class="govuk-link" href="/building-and-editing/#validation">validation options</a> launched last month allowing you to specify things like the length or limits of an answer.</p>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
<section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>30 May 2022</p>
    <h2 id="validation-30052022" class="govuk-heading-m">How to check answers as users enter them</h2>
    <p>Do you want to limit how much a user can write in your form or ensure that the information they enter is what you need? Now you can.</p>
    <p>We have introduced a range of validation options to some question types, allowing you to specify things like the length or limits of an answer. When validation is present, the form will check that the user’s answer is within the specified parameters before moving to the next page. If it isn’t, it provides a useful error message and prompts the user to revise their answer.</p>
    <p>The new options include:</p>
    <ul>
    <li>setting minimum and maximum character counts for text and text area questions (or word counts for text areas)</li>
    <li>setting minimum and maximum values for number questions</li>
    <li>setting earliest and latest dates for date questions</li>
    </ul>
    </p>Validation options are listed in the component settings menu (...) which appears when you click in the question title field.</p>
    <p>See <a class="govuk-link" href="/building-and-editing/#validation">Validating user answers</a> for details.</p>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
  <section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>11 May 2022</p>
    <h2 id="test-policy-11052022" class="govuk-heading-m">Usernames and passwords now needed for all Test forms</h2>
    <p>All forms on our Test site now require a username and password to access, which you set yourself during the <a class="govuk-link" href="/testing-and-publishing/#test">publishing process</a>. These credentials can be shared with anyone you want to view your draft form.</p>
    <p>Up to now, setting a username and password has been optional. We have taken the decision to make it a requirement to help protect your work in progress and reduce the risk of anything inappropriate becoming public.</p>
    <p>If you have a form on the Test site currently you will need to republish it and create a username and password.</p>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
  <section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>25 April 2022</p>
    <h2 id="move-launch-25042022" class="govuk-heading-m">An easier way to move pages</h2>
    <p>You can now change the order of pages in your form flow with just a few clicks using a new <a class="govuk-link" href="/building-and-editing/#moving-pages">move page feature</a>.</p>
    <p>The option is listed in the page menu, which you can open by hovering over the page you want to move and selecting the menu button (3 dots in a circle). A modal allows you to select the place you want to move your page to.</p>
    <p>You can move most pages in this way, including pages that have become unconnected. Branching points, check answers and confirmation pages can’t be moved. In these cases, the move page option is not shown in the menu.</p>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
<section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>18 January 2022</p>
    <h2 id="branching-launch-10032022" class="govuk-heading-m">Branching is now live in MoJ Forms</h2>
    <p>It's now possible to add logic to forms and show users different questions based on their previous answers using new branching functionality in MoJ Forms.</p>
    <p>Branching is the ability to show the people filling in your forms different pages based on their previous answers. You can create multiple routes - branches - through your form so that the people filling it in see only the questions or content that are relevant to them.</p>
    <p>Branching allows you to:
    <ul>
    <li>improve the quality of information you receive</li>
    <li>reduce the number of submissions you get from ineligible users</li>
    <li>show users more relevant questions, making your form easier and quicker to fill in</li>
    <li>present users with information tailored to their needs and circumstances</li>
    </ul>
    <p>Branching currently works with 2 question types - radio buttons and checkboxes. You can make branching decisions based on whether the user answers the question and what answers they select. You can do this with a single question or a combination of questions.</p>
    <p>As well as the core branching functionality, we have introduced a raft of new features, including:</p>
    <ul>
    <li><a class="govuk-link" href="/building-and-editing/#start-page">A new starting template</a> - consisting of a start page, a check answers page and a confirmation page. This is to help new users understand that forms are made up of consecutive pages and also saves you from having to create check answers and confirmation pages every time.</li>
    <li><a class="govuk-link" href="/building-and-editing/#adding-pages">A new way to add pages</a> - through the new connection menu button (+) that sits on every connecting arrow.</li>
    <li><a class="govuk-link" href="/branching/#change-next-page">Changing the order of pages</a> - using the ‘change next page’ option in the new connection menu. This feature effectively allows you to point an arrow at a different page and shuffle your pages around.</li>
    <li><a class="govuk-link" href="/building-and-editing/#page-type">Exit pages</a> - a new page template to use at the end of a branch when you don’t require the user to submit any information. For example, you could tell the user that they are not eligible to continue.</li>
    <li><a class="govuk-link" href="/branching/#unconnected">Unconnected pages</a> - one consequence of branching is that pages can become unconnected. This happens when a page has no other pages leading to it. These pages are stored in a separate section of the form flow and can be brought back into your main form by changing the order of pages.</li>
    </ul>
    <p>To get started, open the connection menu at the point where you want your form to branch and select ‘Add branching’. This will create a ‘branching point’ - a page where you configure the rules for your branches. If you’d like to know a little more about how it works, or have any questions, there are detailed instructions in the user guide under <a class="govuk-link" href="/branching/">Branching and flow management</a>.</p>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
 <section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>18 January 2022</p>
    <h2 id="email-addresses-18012022" class="govuk-heading-m">A better way to collect email addresses</h2>
    <p>MoJ Forms now includes a component specifically designed for collecting email addresses.</p>
    <p>The component follows the <a class="govuk-link" href="https://design-system.service.gov.uk/patterns/email-addresses/">GOV.UK Design System pattern</a> for asking users for their email addresses. It looks like a standard text input but includes custom validation to ensure that what the user enters fits a valid email address format.</p>
    <p>You can find the email address option when adding a new single question page and when adding components to a multi-question page.</p>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
<section class="content-section content-section--with-top-border">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <p>18 January 2022</p>
  <h2 id="form-names-18012022" class="govuk-heading-m">Special characters in form names</h2>
  <p>Form names can now include hyphens and apostrophes.</p>
  <p>When you create a new form, the name is used in the form's URL. To ensure we produce only valid URLs, special characters are not allowed.<p>
  <p>However, after talking to users, we know that hyphens and apostrophes are most likely to be needed in titles so we have relaxed the rules to allow them. When creating the URL, the apostrophes are stripped out. For example, a form name of Register your father-in-law's permit would result in a URL of <u>https://register-your-father-in-laws-permit.form.service.gov.uk</u>.</p>
  <p>You can <a class="govuk-link" href="https://moj-forms.service.justice.gov.uk/settings/#change-name">change the name</a> of any existing form in settings.</p>
  <p><a class="govuk-link" href="#top">Back to top</a></p>
  </div>
</div>
</section>
  <section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>4 January 2022</p>
    <h2 id="2021review-04012022" class="govuk-heading-m">2021 in review</h2>
    <p>Here’s a short but sweet summary of everything we’ve been up to in MoJ Forms in 2021 with a look forward to our plans in 2022.</p>
    <div class="responsive-embed responsive-embed--16by9 responsive-embed--bordered bottom-gutter-2">
            <div class="responsive-embed__wrapper">
              <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/KkYhUJH8RWc" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
  <section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>8 December 2021</p>
    <h2 id="required-08122021" class="govuk-heading-m">Why your form needs check answers and confirmation pages</h2>
    <p>MoJ Forms includes a variety of page templates to help you quickly build a fully working GOV.UK-style form. How you build that form is largely up to you but one part of the form design is fixed. If you want the form to submit any information it collects from users, it must have a check answers page and a confirmation page. These pages contain the code that sends an email to your chosen inbox and without them the user data goes nowhere.</p>
    <p>We realised that might not have been clear to all users. To fix this, we recently added a small alert to the publishing page which will highlight if your form is missing a check answers page or confirmation page. Next year, as part of the branching release, we will also incorporate the check answers and confirmation pages into the new form template and add alerts to the flow view.</p>
    <p>We hope these changes will make it much clearer to all users why your form might need these pages and what to do if they are missing.</p>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
<section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>8 December 2021</p>
    <h2 id="edge-08122021" class="govuk-heading-m">Password issue for DOM1 Edge users</h2>
    <p>People who use the Edge browser on DOM1 machines are currently unable to open forms that have been password protected. This will probably only be an issue for editors and stakeholders when testing forms before going live. The problem is due to the way we authenticate users, which MoJ IT blocks in Edge only. Other browsers are unaffected.<p>
    <p>There are a couple of easy workarounds:</p>
   <ul>
   <li>use another browser, such as Firefox or Chrome, if available</li>
   <li>failing that, remove password protection from the form</li>
   </ul>
   <p>To fix this, we need to change the way we authenticate users. For now, that’s not a priority, but we’ll be looking into it at a future date.</p>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
  <section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>20 September 2021</p>
    <h2 id="transformation-20092021" class="govuk-heading-m">Our plan to help teams transform paper forms</h2>
    <p>We have a new blog post out reporting on our discovery into the potential for a supported service to help the MoJ tackle its range of legacy paper forms. We found a broad desire among form owners to develop digital versions of their forms, but in many cases they lack expertise and capacity to do so. The discovery proposed and tested 3 different levels of support that could be extended to form owners to help them with the transformation using MoJ Forms.</p>
    <p>You can read more on the D&T blog: <a class="govuk-link" href="https://mojdigital.blog.gov.uk/2021/09/17/creating-a-digital-approach-to-paper-forms/">Creating a digital approach to paper forms</a>.</p>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
  <section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>6 August 2021</p>
    <h2 id="page-names-06082021" class="govuk-heading-m">Why we ask for page names</h2>
    <p>We have made some minor changes to the way you add a new page to a form.</p>
    <p>Previously, when you added a new page to your form, we asked for a URL. Some users found this question confusing so we took another look.</p>
    <p>Each page of a form has its own unique URL - test.form.service.justice.gov.uk/<strong>page-1</strong>, test.form.service.justice.gov.uk/<strong>page-2</strong> and so on. It&rsquo;s just this last part of the URL (sometimes called the slug) we need from the user, which we realised wasn&rsquo;t clear.&nbsp;</p>
    <p>To help explain this more clearly, we have rephrased the question and added some hint text. We are also adding some additional error messages to give users an extra nudge where needed.&nbsp;</p>
    <p>Longer term, we think we can take this even further and remove the need for users to name their pages altogether. That requires a little more development so has been added to our backlog.</p>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
<section class="content-section content-section--with-top-border">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <p>6 July 2021</p>
  <h2 id="format-content-06072021" class="govuk-heading-m">How to format content</h2>
  <p>MoJ Forms uses something called markdown to let you add formatting to content. Markdown is a way of adding formatting to plain text using basic symbols and patterns.</p>
  <p>With markdown, you can add headings, links, lists, tables and more. For example, to create a bulleted list, you start each item with an asterisk (*).</p>
  <p>You can use markdown in any content area, which you will find on content pages, as well as the start page, confirmation page and several other templates.</p>
  <p>Check out the support section for more information on <a class="govuk-link" href="/building-and-editing/#markdown">formatting content with markdown</a> including a selection of common markdown features to use in your forms.</p>
  <p><a class="govuk-link" href="#top">Back to top</a></p>
  </div>
</div>
</section>
<section class="content-section content-section--with-top-border">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <p>6 July 2021</p>
  <h2 id="deleting-06072021" class="govuk-heading-m">Fixed: deleting components on a multiple question page</h2>
  <p>You can now delete components from a multiple question page.&nbsp;</p>
  <p>To delete a component:&nbsp;</p>
  <ul>
  <li>click in the component title field to show the component menu (3 dots in a circle)</li>
  <li>click to open the component menu</li>
  <li>select delete and confirm the action&nbsp;</li>
  </ul>
  <p><a class="govuk-link" href="#top">Back to top</a></p>
  </div>
</div>
</section>
<section class="content-section content-section--with-top-border">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <p>11 June 2021</p>
  <h2 id="file-upload-11062021" class="govuk-heading-m">How to collect files from users</h2>
  <p>MoJ Forms now enables you to ask users to attach files to their forms, such as proof of ID, receipts and bills.&nbsp;</p>
  <p>The file upload component supports a variety of file formats, including images, MS Office and OpenDocument, up to 7MB in size. (See the <a class="govuk-link" href="/building-and-editing/#file-upload">user guide</a> for the full list of supported files.)</p>
  <p>You can find file upload under the single question page menu. For now, users can attach only one file per page. To collect additional files, you will need to add extra file upload pages.</p>
  <p><a class="govuk-link" href="#top">Back to top</a></p>
  </div>
</div>
</section>
<section class="content-section content-section--with-top-border">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <p>11 June 2021</p>
  <h2 id="optional-labels-11062021" class="govuk-heading-m">Fixed: optional field labels no longer show in preview</h2>
  <p>Our page templates contain several optional areas for content. These are indicated by square brackets and labelled as optional, such as [optional section heading]. If you leave these fields with their default text, they won&rsquo;t show on your final form, but until recently they did show in preview mode. That bug has now been fixed.&nbsp;</p>
  <p>If you find any optional fields still showing in preview, you may need to &lsquo;reset&rsquo; them. To do this:&nbsp;</p>
  <ul>
  <li>open the affected page to edit</li>
  <li>click into the optional field and delete the default text</li>
  <li>click anywhere else on the page - the default text should reappear</li>
  <li>save your changes and preview your form to check that the optional fields are no longer showing</li>
  </ul>
  <p><a class="govuk-link" href="#top">Back to top</a></p>
  </div>
</div>
</section>
<section class="content-section content-section--with-top-border">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <p>21 May 2021</p>
<h2 id="optional-21052021" class="govuk-heading-m">How to make a question optional</h2>
<p>It is now possible to make a question optional so that a user can move on without answering it. This can be done with both single question pages and individual questions on multi-question pages.</p>
<p>To make a question optional, first click in the question title as if you are going to edit it. This highlights the component settings menu (3 dots in a circle). Clicking on the menu will open it. It looks like this:&nbsp;</p>
<p>For now, there is only one setting, called &lsquo;Required&rsquo;. All questions are required by default, which is indicated by a tick. Click on this setting to switch required to &lsquo;no&rsquo; and make your question optional.</p>
<p><a class="govuk-link" href="#top">Back to top</a></p>
  </div>
</div>
</section>
  </div>
</main>

