---
title: 2023 news
heading: 2023 news
menu: 
menuindex: 
---

<main class="govuk-main-wrapper govuk-body" id="main-content" role="main">
  <div class="govuk-width-container">
  <h1 class="govuk-heading-l"><%= current_page.data.heading%></h1>
  <section class="content-section">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p><a class="govuk-link" href="/news">Back to latest news</a></p>
    </div>
  </div>
  </section>
  <section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>13 December 2023</p>
    <h2 id="accessibility-update-13122023" class="govuk-heading-m">New accessibility statement template for all forms</h2>
    <p>We have updated our <a class="govuk-link" href="/accessibility/#statement">accessibility statement template</a> for forms to reflect the results of a recent audit and an update to the regulations.</a>
    <p>Back in July, we submitted a sample form built on MoJ Forms to User Vision, an external accessibility auditor. This is something every service must do periodically to check it's meeting accessibility regulations and can be used by everyone who needs it.</p>
    <p>The audit checked our compliance with the Web Content Accessibility Guidelines (WCAG). These are an internationally recognised set of recommendations for improving web accessibility. All UK government services must meet level AA of WCAG. User Vision gave us a level AA compliance rating of 96%.</p>
    <p>We have also updated the user guide to provide clearer guidance on <a class="govuk-link" href="/accessibility/">how to make forms accessible</a>.</p>
    <p>MoJ Forms does most of the work to ensure that forms are accessible but users are still responsible for ensuring the content is accessible and the accessibility statement is completed.</p>
    <p>The guidance now includes:</p>
    <ul>
    <li>specific tips on writing accessible content such as headings, questions, and hint text</li>
    <li>more links to additional help and guidance, including from the MoJ Digital Accessibility team</li>
    <li>a clearer explanation of what users need to do to make their forms accessible</li>
    </ul>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
  <section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>29 November 2023</p>
    <h2 id="publishing-changes-29112023" class="govuk-heading-m">New step to getting forms live</h2>
    <p>The ability to publish to Live is no longer available immediately with new forms. Now, when you are satisfied that your form is ready to go live, you need to <a class="govuk-link" href="/testing-and-publishing/#final-check">apply to unlock publishing</a>.</p>
    <p>This can take up to 3 working days.</p>
    <p>Normally, publishing will be unlocked and you will receive a confirmation by email. If there are any issues, a member of the MoJ Forms team will contact you directly.</p>
    <p>Once publishing to Live has been unlocked, you are free to publish your form at any time. You won't need to go through this process again for any future updates.</p>
    <p>This only affects live publishing. You are still able to publish forms to the Test site without restriction.</p>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
  <section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>23 October 2023</p>
    <h2 id="visibility-23102023" class="govuk-heading-m">Targeting content with visibility</h2>
    <p>You can now customise areas of content within a page using the new <a class="govuk-link" href="/building-and-editing#visibility">content visibility setting</a>.<p>
    <p>Visibility is what we call being able to show users different blocks of content based on their previous answers. With visibility, you can change or hide some of the content on the page for different users.</p>
    <p>It's also a really powerful tool for creating <a class="govuk-link" href="https://gds.blog.gov.uk/2012/02/16/smart-answers-are-smart/">'smart answer' services</a> where you ask the user a series of questions and provide information tailored to their answers. Visibility allows you to use a single information page to serve dozens of different combinations of answers. </p>
    <p>Visibility is a setting on all content areas - the text boxes that allow you to add paragraphs of content and use markdown formatting. These are on content pages, exit pages, the confirmation page and a number of other page templates.</p>
    <p>Visibility allows you to set a content area to show:</p> 
    <ul>
    <li>always (the default setting)</li>
    <li>never</li>
    <li>only if…</li>
    </ul>
    <p>With "only if…" you set the conditions under which the content area will show. For example, only show if a user answered yes to a previous question or selected a specific option. It works just like branching, only you are creating rules on a page rather than between pages. And as with branching, visibility rules can only be based on radio button or checkbox questions at the moment.</p>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
  <section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>9 August 2023</p>
    <h2 id="navigation-help-09082023" class="govuk-heading-m">Help navigating large forms</h2>
    <p>A couple of recent new features should make navigating and managing large forms a little easier.</p>
    <p>It's now possible to highlight up to 2 connection paths at a time to make it easier to follow them. In simple forms, it's easy to see how one page is connected to another but this gets harder as a form grows. Some connections can grow quite long as they loop around other pages and it can be hard to follow them, particularly if you need to scroll through the form at the same time.</p>
    <p>You now have 2 ways to highlight these connections:</p>
    <ul>
    <li>move the mouse pointer over a connection, which makes it bold and blue only while the mouse pointer is on the line</li>
    <li>click a connection, which makes it bold and orange even while you move around the flow view - the arrow will stay orange until you click it again, click a different arrow or leave the flow view</li>
    </ul>
    <p>You can use both of these options at the same time to track and compare 2 different connections.</p>
    <p>In addition to these options, MoJ Forms now remembers your position in the flow view when you open a page to edit it or perform actions like moving or deleting pages. When you have finished with your edits or actions and return to the flow view, you will be taken back to your previous position. No more having to scroll from the beginning of your form every time.</p>    
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
  <section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>17 July 2023</p>
    <h2 id="multi-file-17072023" class="govuk-heading-m">How to collect multiple files in one go</h2>
    <p>You can now use the file upload question page to collect multiple files from users in one go.</p>
    <p>Up to now, a file upload page has only allowed users to select a single file. Now, a new option lets you choose the maximum number of files that a user can upload to the page, to a maximum of 10. (The default will continue to be 1.)</p>
    <p>This can be useful if:</p>
    <ul>
    <li>you don't know how many files the user might want to upload</li>
    <li>the user is likely to have several files of the same type, such as receipts or proofs of ID</li>
    </ul>
    <p>In many cases, it may still be better to ask for files over several different pages, rather than all in one go. This approach enables you to be more explicit with the user about what they need to provide and ensure they provide all the required files.</p>
    <p>You can set the maximum number of files when editing a file upload page in the MoJ Forms editor. To do so, click in the question title to highlight the component settings button (...) and select "Number of files…"</p>
    <p>See <a class="govuk-link" href="/building-and-editing/#file-upload">Asking users to submit a file</a> in the user guide for details.</p>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
<section class="content-section content-section--with-top-border">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <p>10 July 2023</p>
  <h2 id="name-change-10072023" class="govuk-heading-m">Changing your form's name and URL</h2>
  <p>The option to rename your form in the MoJ Forms editor is back - and you can change the URL now, too.</p>
  <p>Your form's name is important. It affects how people find your form (through search, for example) and helps them understand what it's for and if it's right for them. But for a while now, you've not been able to change it yourself. You've been stuck with the name you set when first creating your form and dependent on our support team changing it for you.</p>
  <p>Now you can review and update both your form's name and URL in <a class="govuk-link" href="/settings/#change-name">settings</a>. You can change your form's name at any time but you can only change the URL up until you have published your form to Live. This is because changing a Live form's URL can cause problems for users.</p>
  <p>We have also updated our guidance to help you <a class="govuk-link" href="/building-and-editing/#form-name">pick a good name</a>. The best form names:</p>
  <ul>
  <li>describe a task, not a team or department</li>
  <li>use the same words your users would choose</li>
  <li>start with an action, such as "Get help with..." or "Apply for..."</li>
  </ul>
  <p><a class="govuk-link" href="#top">Back to top</a></p>
  </div>
</div>
</section>
  <section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>11 May 2023</p>
    <h2 id="save-for-later-11052023" class="govuk-heading-m">Take some of the stress out of long forms by letting users save their work</h2>
    <p>People filling in your form will be able to save their progress and return to complete it later using MoJ Forms' latest feature.</p>
    <p>Save for later enables users to save a partially-completed form and retrieve their answers using a special one-off link we email them. It's an ideal option for forms that:</p>
    <ul>
    <li>are long or complex</li>
    <li>include questions that users might want time to think about</li>
    <li>ask for information that users might not have immediately to hand</li>
    </ul>
    <p>Save for later is an optional setting. When enabled, it places a secondary save button on question pages, allowing users to choose whether to continue or save for later at any point.</p>
    <p>To save their progress, users need only to enter an email address and a security answer. We then email them a link that they can use to return to the form and retrieve their saved answers.</p>
    <p>Learn more about <a class="govuk-link" href="/settings/#save-for-later">save for later</a> in the user guide.</p>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
<section class="content-section content-section--with-top-border">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <p>29 March 2023</p>
  <h2 id="more-time-29032023" class="govuk-heading-m">More time to complete forms</h2>
  <p>People will be able to take more time filling in your forms without fear of losing information thanks to recent improvements to session management.</p>
  <p>A session is the time a user has to complete the form. Setting a time limit helps protect user data in case they share a computer and walk away in the middle of filling in a form.</p>
  <p>Previously, the session was fixed at 60 minutes. Any user who took longer than an hour would lose their work with no way of saving it.</p>
  <p>Now, the session is 30 minutes but this is refreshed every time a user enters some information or interacts with a button or feature on the page.</p>
  <p>In addition, if nothing happens on a page for 25 minutes, the form will warn the user that the form is about to reset. If the user acknowledges the message, the session will refresh to 30 minutes. If nothing continues to happen for another 5 minutes, the form will reset. Any information entered into the form up to that point will be deleted and the user will need to start again.</p>
  <p>This approach gives users more flexibility in completing forms and removing any pressure to complete them in a fixed time. But there are still things you can do when designing your form to <a class="govuk-link" href="/data-protection/#sessionduration">help users who might need more time</a>.</p>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
  </div>
</div>
</section>
<section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>10 March 2023</p>
    <h2 id="email-settings-10032023" class="govuk-heading-m">Changes to email settings</h2>
    <p>We have made some changes to the ways we collect and use your email addresses in form settings.</p>
    <p>Firstly, we have removed the 'from' address setting. This is because it was causing some emails to end up in spam folders. But we still want your form emails to look and behave as if they are coming from your service, not from the MoJ Forms team. To help with this, we have made 2 other changes:</p>
    <ul>
    <li>added your form name to the 'from' field in all emails</li>
    <li>added a reply address to the confirmation email template</li>
    </ul>
    <p>Now, when your form sends an email - either the submission email to you or the confirmation email to your users - it will show as coming from your form name.</p>
    <p>In addition, the confirmation email template now includes a field for a reply address. This is an address that emails will go to if a user chooses to reply to the email. You need to include this even if you don't want users to reply. Users may reply anyway and could include personal information. For data protection purposes, these emails should only go to your team.</p>
    <p>Overall, these changes should make setting up your form emails a little simpler and more intuitive.</p>
    <p>Learn more about <a class="govuk-link" href="/settings/#confirmation-email">sending users a confirmation email</a> in the user guide.</p>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
  <section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>6 January 2023</p>
    <h2 id="2022review-06012023" class="govuk-heading-m">2022 in review</h2>
    <p>2022 may already feel like a distant memory but we took some time to look back at everything we achieved throughout year.</p>
    <div class="responsive-embed responsive-embed--16by9 responsive-embed--bordered bottom-gutter-2">
    <div class="responsive-embed__wrapper">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/x_eQmvo_vX4" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
<section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">News archive</h2>
    <p><a class="govuk-link" href="/news-2022">2022 news</a></p>
    <p><a class="govuk-link" href="/news-2021">2021 news</a></p>
    </div>
  </div>
</section>
  </div>
</main>

