---
title: News
heading: News
menu: top
menuindex: 2
---

<main class="govuk-main-wrapper govuk-body" id="main-content" role="main">
  <div class="govuk-width-container">
  <h1 class="govuk-heading-l"><%= current_page.data.heading%></h1>
  <section class="content-section">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p><b>Get news in your inbox</b> - email <a class="govuk-link" href="mailto:moj-forms@digital.justice.gov.uk">moj-forms@digital.justice.gov.uk</a> to subscribe to our newsletter.</p>
    </div>
  </div>
  </section>
  <section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>29 January 2024</p>
    <h2 id="govuk-start-page-29012024" class="govuk-heading-m">New start page option for publishing on GOV.UK</h2>
    <p>You can now choose between 2 types of start page for your forms:</p>
    <ul>
    <li>an MoJ Forms start page - the page you've been using up to now that is created as part of your form</li>
    <li>a GOV.UK start page - which a GOV.UK publisher would create for you on GOV.UK</li>
    </ul>
    <p>With a GOV.UK start page, the page sits on GOV.UK instead of in your form. The regular start page in your form is removed and any links to the start page, such as in your form's header, are updated to point to the GOV.UK URL.</p>
    <p>Learn more about <a class="govuk-link" href="/building-and-editing/#start-page">choosing between the different start page options</a> in the user guide.</p>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
  <section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p>11 January 2024</p>
    <h2 id="2023roundup-11012023" class="govuk-heading-m">The 2023 roundup</h2>
    <p>2023 was another packed year in the MoJ Forms team and we wanted to share the highlights.</p>
    <div class="responsive-embed responsive-embed--16by9 responsive-embed--bordered bottom-gutter-2">
    <div class="responsive-embed__wrapper">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/CRh7a3btPgU" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>
    <p><a class="govuk-link" href="#top">Back to top</a></p>
    </div>
  </div>
</section>
<section class="content-section content-section--with-top-border">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">News archive</h2>
    <p><a class="govuk-link" href="/news-2023">2023 news</a></p>
    <p><a class="govuk-link" href="/news-2022">2022 news</a></p>
    <p><a class="govuk-link" href="/news-2021">2021 news</a></p>
    </div>
  </div>
</section>
  </div>
</main>

