---
title: Pricing Page
---

<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-width-container">

    <section class="content-section">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-l">Pricing</h1>
          <p class="govuk-body">We’ll meet with you to understand your needs and budget in order to provide you with a tailored quote.</p>
          <p class="govuk-body">Our team is cross-charged at cost (£500 per day).</p>
          <p class="govuk-body">Hosting is provided at cost by the MOJ Cloud Platform (price will vary by volume of transactions).</p>
          <p class="govuk-body"><a href="/support">Get in touch</a> to discuss your project.</p>
        </div>
      </div>
    </section>

  </div>
</main>
