---
title: Privacy notice template
heading: Privacy notice template
menu:
menuindex:
---

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-body" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l"><%= current_page.data.heading %></h1>
        <!-- START CONTENT -->
        <p>Use this template to help you complete your form's privacy notice.</p>
        <p>The text can be copied and pasted into your form's privacy page. It includes all the markdown needed to correctly format the page. All you need to do is complete the sections in square brackets with details specific to your team and form. There is additional [guidance on completing the template](https://intranet.justice.gov.uk/documents/2018/03/privacy-notice-guidance.pdf).</p>
        <p>Last updated: July 2021.</p> 
        <section class="content-section content-section--with-top-border">
        <h2 class="govuk-heading-m">## [Name of your form or service]</h2>
          <p>The Ministry of Justice (MoJ) is committed to the protection and security of your
          personal information.</p>
          <p>It is important that you read this notice so that you are aware of how and why we are
          using such information. This privacy notice describes how we collect and use
          personal information during and after your relationship with us, in accordance with
          data protection law. They will be updated regularly.</p>
          <p>[Insert name – delete if not an EA or ALB] is an Executive Agency/Arm's Length
          Body of the MoJ. MoJ is the data controller for the personal data used for the
          purposes of [Insert overarching purpose].</p>
          <h3 class="govuk-heading-s">### The type of personal data we process</h3>
          <p>We currently collect and use the following information:</p>
          <p>[list the type of personal data used e.g. name, address, contact details etc]</p>
          <p>We also collect special categories of information, such as [delete this section if not
          applicable]:<p>
          <p>* race or ethnicity</br>
          <p>* political opinions</br>
          * religious or philosophical beliefs</br>
          * trade union membership</br>
          * health, sex life or sexual orientation</br>
          * genetics or biometrics</br>
          * criminal convictions</p>
          <h3 class="govuk-heading-s">### How we get your personal data and why we have it<h3>
          <p>Most of the personal information we process is provided to us directly by you for one
          of the following reasons:</p>
          <p>[List reasons e.g. providing an online service]</p>
          <p>We also receive personal information indirectly, from the following sources in the
          following scenarios:</p>
          <p>[Include details of the source of the personal data unless the data is collected
          directly from the data subject]</p>
          <p>We use the personal data we receive in order to:</p>
          <p>[list how you use the personal data]</p>
          <p>We may share this information with:</p>
          <p>[enter organisations or individuals]</p>
          <p>Under the UK General Data Protection Regulation (UK GDPR), the lawful bases we
          rely on for processing this information are: [delete as appropriate]</p>
          <p>(a) Your consent. You may withdraw your consent at any time by contacting [enter
          contact details].</br>
          (b) We have a contractual obligation.</br>
          (c) We have a legal obligation.</br>
          (d) We have a vital interest.</br>
          (e) We need it to perform a public task.</br>
          (f) We have a legitimate interest.</p>
          <p>[Explain the purpose and lawful basis for processing the personal data you
          collect. If lawful basis is a legal obligation or public task, explain what this is
          e.g. refer to legislation or policy.]</p>
          <p>The legal bases on which the MoJ processes special categories of information you
          have provided, is on the basis of: [delete this section if not applicable]</p>
          <p>* Your explicit consent. You may withdraw your consent at any time by contacting
          [insert contact details].</br>
          * The processing being necessary for the MoJ in the field of employment, social
          security and social protection law.</br>
          * The information being manifestly made public by you.</br>
          * The processing being necessary for the establishment, exercise or defence of legal
          claims.</br>
          * The substantial public interest in the MoJ [tailor as required and choose relevant
          [substantial public interest
          condition](https://ico.org.uk/for-organisations/guide-to-data-protection/guide-t
          o-the-general-data-protection-regulation-gdpr/special-category-data/what-are-t
          he-substantial-public-interest-conditions/)].</br>
          * The processing is necessary for historical research purposes/statistical purposes.</p>
          <h3 class="govuk-heading-s">### International data transfers</h3>
          <p>[Delete as appropriate]</p>
          <p>Personal data is transferred to [insert name of country] for the purpose of [insert
          purpose]. This international transfer complies with UK data protection law [delete
          as appropriate].</p>
          <p>There are no international transfers.</p>
          <h3 class="govuk-heading-s">### How we store your personal data<h3>
          <p>[set out how long the information is retained, or the criteria used to determine
          how long the information is retained]</p>
          <p>Personal data is stored securely and in accordance with our data retention schedule
          [insert link to the schedule or details of retention periods]. At the end of this
          period your data is [insert with it is retained as a public record or whether it is
          disposed of].</p>
          <h3 class="govuk-heading-s">### Your rights</h3>
          <p>[This section lists all data subject rights found in the UKGDPR and the Data
          Protection Act 2018. You should only include those relevant to your lawful
          basis for processing. ind out more about which rights apply and
          when](https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-th
          e-general-data-protection-regulation-gdpr/individual-rights/)]</p>
          <p>* Your right of access - You have the right to ask us for copies of your personal
          information.</br>
          * Your right to rectification - You have the right to ask us to rectify personal
          information you think is inaccurate. You also have the right to ask us to complete
          information you think is incomplete.</br>
          * Your right to erasure - You have the right to ask us to erase your personal
          information in certain circumstances.</br>
          * Your right to restriction of processing - You have the right to ask us to restrict the
          processing of your personal information in certain circumstances.</br>
          * Your right to object to processing - You have the right to object to the processing of
          your personal information in certain circumstances.</br>
          * Your right to data portability - You have the right to ask that we transfer the
          personal information you gave us to another organisation, or to you, in certain
          circumstances.</p>
          <p>Depending on the lawful basis on which your personal data is being processed, not
          all rights will apply.</p>
          <p>You are not required to pay any charge for exercising your rights. If you make a
          request, we have one month to respond to you. If you wish to exercise your data
          protection rights please contact one of these teams.</p>
          <p>If you have ever been convicted of a criminal offence, contact:</p>
          <p>$A</p>
          Branston Registry  </br>
          Building 16, S & T Store  </br>
          Burton Road  </br>
          Branston  </br>
          Burton-on-Trent  </br>
          Staffordshire  </br>
          DE14 3EG</p>
          <p>$A</p>
          <p>Email: &lt;data.access1@justice.gov.uk&gt;</p>
          <p>Otherwise, contact:</p>
          <p>$A</p>
          <p>Disclosure Team  </br>
          Post point 10.38  </br>
          102 petty France  </br>
          London  </br>
          SW1H 9AJ</p>
          <p>$A</p>
          <p>Email: &lt;data.access@justice.gov.uk&gt;</p>
          <h3 class="govuk-heading-s">### How to complain</h3>
          <p>If you have any concerns about our use of your personal data, you can contact the
          MoJ data protection officer:</p>
          <p>$A</p>
          <p>Data Protection Officer  </br>
          Ministry of Justice  </br>
          3rd Floor, Post Point 3.20  </br>
          10 South Colonnades  </br>
          Canary Wharf  </br>
          London  </br>
          E14 4PU</p>
          <p>$A</p>
          <p>Email: &lt;dpo@justice.gov.uk&gt;</p>
          <p>You can also complain to the Information Commissioner's Office (ICO) if you are
          unhappy with how we have used your data:</p>
          <p>$A</p>
          <p>Information Commissioner's Office  </br>
          Wycliffe House  </br>
          Water Lane  </br>
          Wilmslow  </br>
          Cheshire  </br>
          SK9 5AF</p>
          <p>$A</p>
          <p>Telephone: 0303 123 1113</p>
          <p>[ICO website](https://www.ico.org.uk)</p>
          <p>Date of last review: [Insert publication date]</p>
        </section>
        <!-- END CONTENT -->
      </div>
    </div>
  </main>
</div>
