---
title: Our process
---

<nav class="breadcrumbs" aria-label="Breadcrumbs">
</nav>

<main id="content" class="content supplementary" role="main">
  <div class="container">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">
          Our process
        </h1>
        <p>
          We have a five step process for building and publishing online forms.
        </p>
        <ol>
          <li><a href="#assess">Assess</a></li>
          <li><a href="#propose">Propose</a></li>
          <li><a href="#build">Build</a></li>
          <li><a href="#test">Test</a></li>
          <li><a href="#publish">Publish</a></li>
        </ol>
        <h2 id="assess">
          1. Assess
        </h2>
        <p>
        We’ll meet with you to understand your needs.
        </p>
        <p>
          If you are digitising an existing paper process, we will review the form as well.                </p>
        </p>
        <h2 id="propose">
        2. Propose
      </h2>
      <p>
      We’ll provide you with a list of suggested improvements to make when building your form online.
      </p>
      <p>
      These improvements are based on best practice of designing forms in government.
      </p>
      <h2 id="build">
      3. Build
      </h2>
      <p>
      We’ll provide you with our <a href="features#the-formbuilding-tool">form building tool</a> and <a href="features#direct-support">direct training and support</a> allowing you to prototype your form.
      </p>
      <h2 id="test">
      4. Test
      </h2>
      <p>
      We’ll give guidance on how to test your form and how to make improvements based on feedback so that is meets user and business needs.      
      </p>
      <h2 id="publish">
      5. Publish
      </h2>
      <p>
      We’ll perform a quality check to make sure the form meets government standards and publish your form online once you get approval by decision makers in your area.
      </p>
      </div>
    </div>
  </div>
</main>
