---
title: Our Process
---


<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-width-container">

    <section class="content-section">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-l">Our process</h1>
          <p class="govuk-body">We have a four step process for building and publishing online forms.</p>
          <ol class="govuk-list  govuk-list--number">
            <li><a href="#assess">Assess</a></li>
            <li><a href="#plan">Plan</a></li>
            <li><a href="#prototype">Prototype</a></li>
            <li><a href="#publish">Publish</a></li>
          </ol>
          
          <h3 class="govuk-heading-m" id="assess">1. Assess</h3>
          <p class="govuk-body">We’ll meet with you to understand your needs.</p>
          <p class="govuk-body">If you're planning to digitise an existing paper process, we'll review the related forms.</p>

          <h3 class="govuk-heading-m" id="plan">2. Plan</h3>
          <p class="govuk-body">We’ll provide you with a list of suggested improvements to make when building your form online.</p>
          <p class="govuk-body">These improvements are based on best practice of designing forms in government.</p>

          <h3 class="govuk-heading-m" id="prototype">3. Prototype</h3>
          <p class="govuk-body">We’ll provide you with our <a href="/features#the-form-building-tool">form building tool</a> and <a href="/features#direct-support">direct training and support</a> allowing you to prototype your form.</p>
          <p class="govuk-body">We’ll also give guidance on how to test your form and how to make improvements based on feedback so that is meets user and business needs.</p>

          <h3 class="govuk-heading-m" id="publish">4. Publish</h3>
          <p class="govuk-body">We’ll perform a quality check to make sure the form meets government standards and publish your form online once you get approval by decision makers in your area.</p>
      
        </div>
      </div>
    </section>

    
  </div>
</main>
