---
title: Our Process
---


<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-width-container">

    <section class="content-section">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-l">Our process</h1>
          <p class="govuk-body">We have a five step process for building and publishing online forms.</p>

 <p class="govuk-body">Before you make a request, check that the relevant service owner has approved the work.</p>


          <ol class="govuk-list  govuk-list--number">

            <li><a href="#request">Request</a></li>
            <li><a href="#assess">Assess</a></li>
            <li><a href="#plan">Plan</a></li>
            <li><a href="#prototype">Prototype</a></li>
            <li><a href="#publish">Publish</a></li>
          </ol>
          
          <h3 class="govuk-heading-m" id="request">1. Request</h3>
          <p class="govuk-body">To start the process, make a request to build and publish an online form.</p>

          <h3 class="govuk-heading-m" id="assess">2. Assess</h3>
          <p class="govuk-body">We’ll meet with you to understand your needs.</p>
          <p class="govuk-body">If you're planning to digitise an existing paper process, we'll review the related forms.</p>

          <h3 class="govuk-heading-m" id="plan">3. Plan</h3>
          <p class="govuk-body">We’ll provide you with a list of suggested improvements to make when building your online form.</p>
          <p class="govuk-body">These improvements are based on best practice for designing forms in government.</p>

          <h3 class="govuk-heading-m" id="prototype">4. Prototype</h3>
          <p class="govuk-body">We’ll provide you with our <a href="/features#the-form-building-tool">form building tool </a>, plus <a href="/features#direct-support">training and support</a>, allowing you to prototype your form.</p>
          <p class="govuk-body">We’ll also provide guidance on testing your form, including how to make improvements based on feedback from users.</p>

          <h3 class="govuk-heading-m" id="publish">5. Publish</h3>
          <p class="govuk-body">We’ll perform a quality check to make sure your form meets government standards. 

          <p class="govuk-body"> Once you've got approval from the decision-makers in your area, we'll publish your form online.</p>
      
        </div>
      </div>
    </section>

    
  </div>
</main>
