---
title: Assess the risk of identity fraud to your service
---

<nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Components</span></a>
    </li>
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="/" itemprop="item"><span itemprop="name">GOV.UK Verify</span></a>
    </li>
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="/connecting" itemprop="item"><span itemprop="name">Connecting to GOV.UK Verify</span></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="#main" itemprop="item"><span itemprop="name">Assess the risk of identity fraud to your service</span></a>
    </li>
  </ol>
</nav>

<main id="content" class="content supplementary" role="main">
  <div class="container">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">
          Assess the risk of identity fraud to your service
        </h1>
        <p>
          Before you choose the right <a href="/understand-levels-of-assurance">level of assurance</a> (LOA) for your service, you should do a risk assessment and discuss the results with the GOV.UK Verify team. This will help you understand what makes your service more or less likely to be targeted by online identity fraud. Think about why your service needs identity assurance and the risks you are trying to protect against.
        </p>
        <p>
          You should focus on the risks associated with someone using a false identity or another person’s identity to access your service. This is different from eligibility, which is about whether users have the right to use your service (for example, users are only eligible to <a href="https://www.gov.uk/apply-universal-credit">apply for Universal Credit</a> if they have less than £16,000 in savings).
        </p>
        <h2 class="heading-medium">
          Doing a risk assessment
        </h2>
        <ol class="list list-number">
          <li>
            Complete the <a href="https://docs.google.com/forms/d/e/1FAIpQLScqYw7uGAS0n_42XsjN2K1N-YwvrTjtEMcBUxj7JKFr5ovnVQ/viewform">risk assessment form</a>. This will ask about how your service works, handles data and the online threats it faces. It should help you understand the risk of online identity fraud to your service.
          </li>
          <li>
            The GOV.UK Verify team will get in touch within a week to help you choose the right LOA for your service.
          </li>
        </ol>
        <p>
          When completing the form, you’ll need to think about:
        </p>
        <ul class="list list-bullet">
          <li>
            whether your service has been targeted by identity fraud or cyber crime in the past
          </li>
          <li>
            how much money your organisation could lose if your service is threatened or attacked
          </li>
          <li>
            how much damage could be done to your organisation’s reputation if your service is threatened or attacked
          </li>
          <li>
            what users can get from your service, for example benefits or personal information
          </li>
          <li>
            what financial, physical or emotional damage could be done to a user if someone else impersonated them when using your service
          </li>
        </ul>
        <p class="space-mt-30">
          <a href="/connecting">Return to overview</a>
        </p>
      </div>
    </div>
  </div>
</main>
