---
title: Support Page
---
<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-width-container">

    <section class="content-section">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-l">Support</h1>
          <p class="govuk-body">To find out more about MOJ Online email:<br><a href="mailto:form-builder-team@digital.justice.gov.uk">form-builder-team@digital.justice.gov.uk</a></p>
          <p class="govuk-body">Get help on our <a href="https://mojdt.slack.com/messages/CE26QEL1Z/">Slack channel</a>.</p>
        </div>
      </div>
    </section>

  </div>
</main>