---
title: Testing and publishing
heading: Testing and publishing
category: user-guide
order: 7
---
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-body">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <%= partial "user_nav" %>
      </div>
      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l"><%= current_page.data.heading %></h1>
        <!-- START CONTENT -->
        <p>How to test your form and share it securely with colleagues before publishing the final version.</p>
        <section class="content-section content-section--with-top-border">
        <h2 class="govuk-heading-m">When you are ready to publish</h2>
        <p>When you are happy with your form, use our publishing checklist to make sure you have taken care of everything and are ready to go live.</p>
        <p><a href="/pdf/MoJ_Forms_publishing_checklist.pdf">Publishing checklist</a> (PDF, 0.49MB)</br>
        Last updated: 27 August 2021 </p>
        <section class="content-section content-section--with-top-border">
        <h2 class="govuk-heading-m">Understanding the publishing process</h2>
        <p>MoJ Forms comes with both a Test site and Live site.<p>
        <p>The Test site is for checking your form, sharing it with colleagues and stakeholders and gathering feedback. You can make multiple changes and updates to the Test site without needing to publish to Live.</p>
        <p>The Live site is where your final form will live. You only need to publish to Live when you are happy with your form on the Test site.</p>
        <p>Both the Test and Live sites:</p>
        <ul>
        <li>are on the internet, so there are no restrictions on who you can share the links with</li>
        <li>can be password protected so only the people you provide with login details can access them</li>
        <li>will not be found and listed on search engines</li>
        </ul>
        <p>We recommend you always publish and test your form on the Test site before publishing to Live.</p>
      </section>
      <section class="content-section content-section--with-top-border">
        <h2 class="govuk-heading-m">Publishing to Test</h2>
        <p>To publish your form to the Test site, go to the publishing page and select ‘publish to Test’.</p> 
        <p>This will publish the latest version of your form in the editor to the Test site. You can see when your form was last updated by checking the ‘version’ date and time at the top of the page.</p>         
        <p>After selecting ‘publish to Test’, you will be presented with 2 options:</p> 
        <ul>
        <li>allow anyone with the link to view</li>
        <li>set a username and password</li> 
        </ul>
        <p>If you set a username and password, you will need to share these with anyone you want to view the form. If you forget what username and password you set, you can simply re-publish your form and set new details. These will replace your previous username and password.</p> 
        <p>After publishing to Test, your form’s URL will be available from the publishing page.</p>    
        <p>It can take up to 15 minutes for the form to be visible the first time you publish it to Test. Updates are much quicker and should publish within a minute or less. (You may need to refresh your browser or clear your cache.)</p>
      </section>
      <section class="content-section content-section--with-top-border">
        <h2 class="govuk-heading-m">Publishing to Live</h2>
        <p>To publish your form to the Live site, go to the publishing page and select ‘publish to Live’.</p>
        <p>This will publish the latest version of your form in the editor to the Test site. You can see when your form was last updated by checking the ‘version’ date and time at the top of the page.</p> 
        <p>After selecting ‘publish to Live’, you will be presented with 2 options:</p> 
        <ul>
        <li>allow anyone with the link to view</li>
        <li>set a username and password</li>
        </ul>
        <p>If you set a username and password, you will need to share these with anyone you want to view the form. If you forget what username and password you set, you can simply re-publish your form and set new details. These will replace your previous username and password.</p>
        <p>After publishing to Live, your form’s URL will be available from the publishing page.</p> 
        <p>It can take up to 15 minutes for the form to be visible the first time you publish it to Live. Updates are much quicker and should appear within a minute or less. (You may need to refresh your browser or clear your cache.)</p>
      </section>
        <!-- END CONTENT -->
      </div>
    </div>
  </main>
</div>