---
title: User guide
heading: User guide
category: user-guide
order: 1
menu: top
menuindex: 3
---

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-body">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <%= partial "user_nav" %>
      </div>
      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l"><%= current_page.data.heading%></h1>
        <!-- START CONTENT -->
        <p>Learn how to build, configure and publish forms and get help when you need it.</p>
        <p><a href="#issues">Known issues and workarounds</a><br>
        <a href="#help">Get help or report a bug</a><br>
        <a href="#feedback">Give feedback</a></p>
      <section class="content-section content-section--with-top-border">
        <h2 id="issues" class="govuk-heading-m">Known issues and workarounds</h2>
        <p>MoJ Forms is a new platform with a range of features that we are working to expand. In the short term, you might encounter some limitations. These include:
        <ul>
        <li>renaming, moving and deleting pages is not currently possible</li>
        <li>deleting and unpublishing forms (removing them from live) is not currently possible</li>
        <li>tables created using markdown are not displayed in GOV.UK style</li>
        </ul>
        <p><a href=https://formbuilder-product-page-staging.apps.live-1.cloud-platform.service.justice.gov.uk/contact/>Contact us</a> for help if you need to do any of these things.</p>
          <p><a href="#top">Back to top</a></p>
      </section>
      <section class="content-section content-section--with-top-border">
          <h2 id="help" class="govuk-heading-m">Get help or report a bug</h2>
        <p>If you need help doing something or think you have found a bug (something doesn’t work as you expected), <a href=https://formbuilder-product-page-staging.apps.live-1.cloud-platform.service.justice.gov.uk/contact/>Contact us by email or on Slack</a>.
        <p>When reporting a bug, make sure to include:</p>
        <ul>
        <li>what you expected to happen</li>
        <li>what actually happened</li>
        <li>what steps to take to reproduce the behaviour</li>
        <li>the browser version and operating system you are using</li>
        <li>screenshots of any relevant pages and messages</li>
        </ul>
        <p><a href="#top">Back to top</a></p>
      </section>
      <section class="content-section content-section--with-top-border">
        <h2 id="feedback" class="govuk-heading-m">Give feedback</h2>
        <p>You can send feedback at any time using the red feedback widget on the right hand side of the screen, as shown here:</p>
        <img src="/images/give-feedback.png" alt="The red feedback widget will appear on every page in MoJ Forms so you can provide feedback at any point." class="screenshot-image">
        <p>This appears on every page, so you can provide feedback on whatever you are doing.</p>
        <p>Certain actions or URLs may trigger specific questions from us. You'll see these as on-page surveys.</p>
        <p><a href="#top">Back to top</a></p>
      </section>
        <!-- END CONTENT -->
      </div>
    </div>
  </main>
</div>