---
title: User guide
heading: User guide
category: user-guide
order: 1
menu: top
menuindex: 3
---

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-body">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <%= partial "user_nav" %>
      </div>
      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l"><%= current_page.data.heading%></h1>
        <!-- START CONTENT -->
        <p>Learn how to build, configure and publish forms and get help when you need it.</p>
        <p><a class="govuk-link" href="#access">Getting access and signing in</a><br>
        <a class="govuk-link" href="#issues">Known issues</a><br>
        <a class="govuk-link" href="#help">Get help or report a bug</a><br>
        <a class="govuk-link" href="#feedback">Give feedback</a></p>
      <section class="content-section content-section--with-top-border">
        <h2 id="access" class="govuk-heading-m">Getting access and signing in</h2>
        <p>MoJ Forms is only available to employees of MoJ and its agencies and public bodies. To request access, <a class="govuk-link" href="/contact">contact us</a> to discuss your requirements. As MoJ Forms is still in development, we need your consent to take part in ongoing research.</p>
        <p>MoJ Forms shares a login with your primary work email address so you don't need to remember a separate username or password. We currently support email addresses ending in the following domains:</p>
        <ul>
        <li>@digital.justice.gov.uk</li>
        <li>@justice.gov.uk</li>
        <li>@cica.gov.uk</li>
        <li>@judicialappointments.gov.uk</li>
        <li>@ospt.gov.uk</li>
        <li>@ccrc.gov.uk</li>
        </ul>
        <p><a class="govuk-link" href="#top">Back to top</a></p>
      </section>
       <section class="content-section content-section--with-top-border">
        <h2 id="issues" class="govuk-heading-m">Known issues</h2>
        <p>MoJ Forms is a new platform with a range of features that we are working to expand. In the short term, you might encounter some limitations, including:
        <ul>
        <li>Password-protected forms can't be opened in Edge on DOM1 machines. We recommend using a different browser for testing and avoiding password protection on live forms.</li>
        <li>It's not currently possible to rename a page (the URL slug that you set when <a class="govuk-link" href="/building-and-editing/#adding-pages">adding a page</a>). <a class="govuk-link" href="/contact/">Contact us</a> to change this.</li>
        <li>It's not currently possible to delete or unpublish a form (removing it from live). <a class="govuk-link" href="/contact/">Contact us</a> to do this.</li>
        </ul>
          <p><a class="govuk-link" href="#top">Back to top</a></p>
      </section>
      <section class="content-section content-section--with-top-border">
          <h2 id="help" class="govuk-heading-m">Get help or report a bug</h2>
        <p>If you need help doing something or think you have found a bug (something doesn’t work as you expected), <a class="govuk-link" href="/contact/">contact us by email or on Slack</a>.</p>
        <p><a class="govuk-link" href="#top">Back to top</a></p>
      </section>
      <section class="content-section content-section--with-top-border">
        <h2 id="feedback" class="govuk-heading-m">Give feedback</h2>
        <p><a class="govuk-link" href="/contact/">Contact us by email or on Slack</a> to tell u s what you think of MoJ Forms and suggest improvements.</p>
        <p><a class="govuk-link" href="#top">Back to top</a></p>
      </section>
        <!-- END CONTENT -->
      </div>
    </div>
  </main>
</div>
