// department logos (adapted from GOV.UK organisation pages)

.org__margin {
  margin: 0 0 30px -15px;
}

.org-logo {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.1538461538;
  font-weight: 400;
}

.org-logo__container {
  text-transform: none;
  text-decoration: none;
  display: block;
  color: #0b0c0c;
  height: auto;
  width: auto;
  direction: ltr;
}

.org-logo__name {
  position: relative;
  top: 3px;
}

.org-logo__crest {
  border-left: 2px solid #0b0c0c;
  padding-top: 20px;
  padding-left: 6px;
}

.org-logo__crest--single-identity {
    background: url("https://assets.publishing.service.gov.uk/government/assets/crests/org_crest_27px_x2-3eb6258ba699c8ae2c3cf370e8a4422f37bdae95ae084a99115841a8bf0543a7.png") no-repeat 5px 0;
    background-size: auto 20px;
}

.org-logo__crest--hmrc {
  background: url("https://assets.publishing.service.gov.uk/government/assets/crests/hmrc_crest_27px_x2-50c5ae1eac742b467695f5889f93024627e14f1c03a39db7a8e55edfe5d4417a.png") no-repeat 5px 0;
  background-size: auto 20px;
}

.brand--department-for-environment-food-rural-affairs .brand__border-color {
  border-color: #00a33b;
}

.brand--department-for-transport .brand__border-color {
  border-color: #006c56;
}

.brand--department-for-work-pensions .brand__border-color {
  border-color: #00beb7;
}

.brand--hm-revenue-customs .brand__border-color {
    border-color: #009390;
}

@media (min-width: 641px) {

  .org-logo {
    font-size: 18px;
    line-height: 20px;
  }

  .org-logo__crest {
      padding-top: 25px;
      padding-left: 7px;
  }

  .org-logo__crest--single-identity {
    background: url("https://assets.publishing.service.gov.uk/government/assets/crests/org_crest_27px_x2-3eb6258ba699c8ae2c3cf370e8a4422f37bdae95ae084a99115841a8bf0543a7.png") no-repeat 6px 0;
    background-size: auto 26px;
  }

  .org-logo__crest--hmrc {
    background: url("https://assets.publishing.service.gov.uk/government/assets/crests/hmrc_crest_27px_x2-50c5ae1eac742b467695f5889f93024627e14f1c03a39db7a8e55edfe5d4417a.png") no-repeat 6px 0;
    background-size: auto 26px;
  }

  .column-half.org__margin {
    width: 50%;
  }

}
