ol.task-list{
  padding-left: 30px;
}

.task-list h2{
  position: relative;
  margin-top: 60px;
}

.instruction-list-item-top li{
  position: relative;
}

.instruction-list-item-top img{
  position: absolute;
  left: -26px;
  top: 4px;
}

.task-list-section-number{
  position: absolute;
  left: -30px;
}
